<div class="flex flex-col gap-y-8 w-full">
  <div>
    <h2 class="text-3xl font-semibold text-dark-900 mb-2 text-balance">Enregistrement des demandes informations et des
      plaintes</h2>
  </div>
  <div class="w-full bg-white rounded-3xl shadow-sm border border-gray-100 p-6 animate-in">
    <div class="flex flex-row justify-between items-center">
      <div class="flex flex-row justify-start items-center gap-3 ">
        <h3 class="text-base lg:text-lg 2xl:text-xl font-medium text-dark-900 mb-6">
          <p>{{dataReq.length}} élement(s)</p>
        </h3>
        <div class="flex flex-row justify-start items-center gap-2">
          <form class="flex justify-start items-center">
            <div class="flex justify-start items-center">
              <input
                class="flex justify-start items-start w-full border border-gray-300 outline-none px-3 py-2 rounded-lg"
                placeholder="Rechercher...." type="text" [(ngModel)]="searchTextReq" name="searchTextReq"
                (keyup)="searchReq()" />
            </div>
          </form>
        </div>
        <div class="flex flex-row justify-start items-center gap-2">
          <label for="status">Statut</label>
          <p-dropdown class="w-full" [options]="[{name:'En cours',id:0},{name:'Traitée',id:1}]" (change)="searchReq()"
            [(ngModel)]="selected_Status" optionLabel="name" optionValue="id" placeholder="Selectionnez le sexe">
            <ng-template pTemplate="dropdownicon">
              <div class="flex items-center justify-center text-black py-[0.6rem]">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="m7 10l5 5m0 0l5-5" />
                </svg>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>

      <button (click)="openEditModalAdd(addRequete)" class="mx-1 bg-primary text-white py-2 px-4 rounded-lg">Ajouter
        Préoccupation</button>
    </div>
    <div class="space-y-4">
      <div class="table-responsive">

        <table class="table table-bordered table-striped datatable  table-head-custom table-vertical-center"
          id="kt_datatable">
          <thead>
            <tr>
              <td class="left text-left" colspan="15">
                <button *ngIf="show_actions" (click)="openEditModalLg(edit)" title="Modifier la requête"
                  class="btn mx-1 btn-xs btn-warning edit">Modifier
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                  </svg>
                </button>

                <button *ngIf="show_actions" title="Supprimer à la requête" (click)="dropRequeteusager()"
                  class="btn mx-1 btn-xs btn-danger edit">Supprimer
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg>
                </button>

                <button *ngIf="show_actions" title="Transmettre la requête" (click)="transmettreRequete()"
                  class="btn mx-1 btn-xs btn-success"> Transmettre
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-90deg-right" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z" />
                  </svg>
                </button>
              </td>
            </tr>
            <tr>
              <th></th>
              <th width="7%">Date Enreg.</th>
              <th width="10%">Type</th>
              <th width="15%">Prestation</th>
              <th width="15%">Objet</th>
              <th width="15%">Message</th>
              <th width="15%">Contact / E-mail</th>
              <th width="15%">Statut</th>

              <th>Notification</th>
              <!--<th width="20%">Durée Traitement</th>-->
              <th width="10%">Appréciation.</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let elr of dataReq  index as i">
              <td>
                <span *ngIf="elr.visible==0"><input type="radio" [value]="elr" ngModel name="getrequete"
                    (change)="checkedReq($event,elr)"></span>
              </td>
              <td>{{elr.created_at | date:'dd/MM/yyy'}} </td>
              <td>
                <!-- <span *ngIf="elr.plainte==0">Requête</span> -->
                <span *ngIf="elr.plainte==1">Plainte</span>
                <span *ngIf="elr.plainte==2">Demande d'information</span>
              </td>
              <td>{{elr.service==null ? '' : elr.service.libelle}} </td>
              <td>{{elr.objet}} </td>
              <td>{{elr.msgrequest}} </td>
              <td>{{elr.contact}}{{elr.email==null ? '' : " / "+elr.email}} {{(elr.matricule=='' || elr.matricule==
                null) ? '' : " / Matricule : "+elr.matricule}}</td>
              <td>
                <span *ngIf="elr.visible==0">1. En attente de transmission</span>
                <span *ngIf="elr.visible==1">1. En cours de traitement au {{elr.entite==null ? '--' :
                  elr.entite.sigle}}</span>

                <div *ngFor="let parc of elr.parcours; let i=index">

                  <!-- <span *ngIf="i==0" style="display:none">{{i+1}}</span> -->
                  <span *ngIf="i>=1">{{i+1}}. {{ show_step(parc.idEtape)==null ? '' :
                    show_step(parc.idEtape).LibelleEtapeUs }}</span>
                </div>

                <!--span *ngIf="elr.visible==1 && elr.traiteOuiNon==0  && elr.rejete==0 && elr.interrompu==0">En
                                        cours de traitement {{elr.entite.sigle}} </span-->
                <span *ngIf="elr.visible==1 && elr.traiteOuiNon==1  && elr.rejete==1">Rejeté</span>
                <span *ngIf="elr.visible==1 && elr.traiteOuiNon==1 && elr.interrompu==1">Interrompu</span>
                <span
                  *ngIf="elr.visible==1 && elr.visible==1 && elr.traiteOuiNon==1  && elr.rejete==0 && elr.interrompu==0">Finalisé</span>
              </td>

              <td>
                <span *ngIf="elr.traiteOuiNon==1  ">{{elr.reponseStructure}}</span>
                <span *ngIf="elr.fichier_joint">Fichier réponse : <a target="_blank"
                    (click)="ChangerFile(elr.fichier_joint)" href="#">{{elr.fichier_joint}}</a></span>
              </td>
              <!--<td>{{Date.dateDiff('d',s.created_at,s.dateReponse)}} </td>-->
              <td>
                <button (click)="openNoteModal(note,elr)" *ngIf="elr.traiteOuiNon==1 && elr.noteUsager==null"
                  title="Apprécier la prestation" class="btn btn-xs btn-danger edit"><svg width="1em" height="1em"
                    viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                  </svg> </button>
                <span *ngIf="elr.noteUsager!=null">{{elr.noteUsager}}</span>

              </td>

            </tr>
            <tr *ngIf="dataReq.length==0">
              <td colspan="10" class="text-center bg-gray-100">Aucun élément</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination class="" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [pageSize]="pageSize"
            [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
          </ngb-pagination>

          <select class="custom-select custom-select-sm float-right" style="width: auto" [(ngModel)]="pageSize">
            <option selected disabled>Filtrer</option>
            <option [ngValue]="3">3 elements par page</option>
            <option [ngValue]="5">5 elements par page</option>
            <option [ngValue]="10">10 elements par page</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row m-3">
  <div class="col-md-12 mx-auto">
    <p class="text-center"> <strong>Enregistrement des demandes informations et des plaintes </strong> </p>
    <div class="col-md-12 ml-2 mr-2">
      <div class="card my-2">
        <div class="card-header border-0">
          <div class="card-toolbar d-flex justify-content-between mt-4">
            <ul class="nav nav-pills ml-2 nav-pills-sm nav-dark-75">
              <li class="nav-item">
                <span class="mr-2">{{dataReq.length}} élement(s) </span>
              </li>
              <li class="nav-item mr-2">
                <form>
                  <div class="form-group form-inline">
                    <input class="form-control form-control form-control-sm form-control-sm-sm "
                      placeholder="Rechercher...." type="text" [(ngModel)]="searchTextReq" name="searchTextReq"
                      (keyup)="searchReq()" />
                  </div>
                </form>
              </li>
              <li class="nav-item">
                <span class="mr-2">Statut : </span>
              </li>
              <li class="nav-item">
                <div class="form-group form-inline">
                  <div>
                    <select class="form-control form-control-sm form-control-sm-sm " name="selected_Status"
                      (change)="searchReq()" [(ngModel)]="selected_Status" id="">
                      <option value="0">En cours</option>
                      <option value="1">Traitée</option>
                    </select>
                  </div>
                </div>
              </li>
            </ul>
            <div>
              <button (click)="openEditModalAdd(addRequete)" class=" mx-1 btn btn-sm btn-info">Ajouter
                Préoccupation</button>
            </div>
          </div>
        </div>
        <div class="card-body pt-3 pb-0">

        </div>
      </div>
    </div>

 -->




    <ng-template #edit let-modal>
      <form #frmrequeteusagerU="ngForm" (ngSubmit)="saveRequeteusager(frmrequeteusagerU.value)" class="form-horizontal "
        novalidate="">

        <div class="modal-header bg-info">
          <h5 class="modal-title text-white" id="modal-basic-title">Modifier une Préoccupation</h5>
          <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
            X
          </button>
        </div>
        <div class="modal-body">
          <div style="color:red">{{errormessage}}</div>

          <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
            <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Point focal
              communal : {{user?.agent_user?.nomprenoms}} / {{user?.email}}</h4>
          </fieldset>

          <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">

            <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">
              Préoccupation <small *ngIf="selected_data_req.visible==0">(Non transmise)</small> </h4>
            <div class="form-group row">
              <label for="contact" class="col-sm-2 control-label">Contact :</label>
              <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm has-error" id="contact2" name="contact2"
                  placeholder="" ngModel required value="{{selected_data_req.contact}}"
                  [(ngModel)]="selected_data_req.contact">
              </div>
              <label for="mailUs" class="col-sm-2 control-label">E-mail :</label>
              <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm has-error" id="mailUs2" name="mailUs2"
                  placeholder="" ngModel required value="{{selected_data_req.email}}"
                  [(ngModel)]="selected_data_req.email">
              </div>
            </div>
            <div class="form-group row">
              <label for="idEntite" class="col-sm-2">Structure destinatrice</label>
              <div class="col-sm-10">
                <select name="idEntite2" id="idEntite2" class="form-control form-control-sm"
                  [(ngModel)]="selected_data_req.idEntite" (change)="onEntiteChange($event)">
                  <option [value]="fc.id" *ngFor="let fc of institutions">{{fc.libelle}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="plainte" class="col-sm-2 control-label">Type :</label>
              <div class="col-sm-4">
                <select name="plainte2" id="plainte2" class="form-control form-control-sm" required
                  [(ngModel)]="selected_type_preoccupation">
                  <option disabled selected>Choisir</option>
                  <!-- <option value="0">Requete</option> -->
                  <option value="1">Plainte</option>
                  <option value="2">Demande d'information</option>
                </select>
              </div>
            </div>

            <div class="form-group row" *ngIf="selected_type_preoccupation!=0">
              <label for="plainte" class="col-sm-6 control-label">Préoccupation liée à une prestation :</label>
              <div class="col-sm-2">
                <label for=""> Oui <input type="radio" value="1" [(ngModel)]="link_to_prestation"
                    name="link_to_prestation2"> </label>
              </div>
              <div class="col-sm-2">
                <label for=""> Non <input type="radio" value="0" [(ngModel)]="link_to_prestation"
                    name="link_to_prestation2"> </label>
              </div>
            </div>

            <div class="form-group row" *ngIf="link_to_prestation==1 || selected_type_preoccupation==0">

              <label for="idType" class="col-sm-2 control-label">Thématique :</label>
              <div class="col-sm-4">
                <select name="idType2" id="idType2" required class="form-control form-control-sm" required
                  [(ngModel)]="selected_data_req.service.idType" (change)="chargerPrestation($event)">
                  <option disabled selected>Choisir</option>
                  <option [value]="fc.id" *ngFor="let fc of themes">{{fc.libelle}}</option>
                </select>
              </div>

              <label for="objet" class="col-sm-2 control-label" *ngIf="mat_aff">Matricule : </label>
              <div class="col-sm-4" *ngIf="mat_aff">
                <input type="text" class="form-control form-control-sm has-error"
                  [(ngModel)]="selected_data_req.matricule" id="matricul" name="matricul" ngModel>
              </div>
              <!-- <label for="objet" class="col-sm-2 control-label">Description : </label>
                            <div class="col-sm-4">
                                <textarea type="text" disabled="disabled" class="form-control" id="descr2"   name="descr2" placeholder="Description de la thématique"
                                         ngModel  value="{{descrCarr}}"  [(ngModel)]="selected_data_req.service.type.descr"></textarea>
                            </div> -->
            </div>
            <div class="form-group row" *ngIf="link_to_prestation==1 || selected_type_preoccupation==0">
              <label for="idPrestation" required class="col-sm-2 control-label">Prestation :</label>
              <div class="col-sm-10">
                <select name="idPrestation2" id="idPrestation2" class="form-control form-control-sm form-control-sm"
                  [(ngModel)]="selected_data_req.service_id" (change)="openDetailModal($event, detailPresta)">
                  <option disabled selected>Choisir</option>
                  <option [value]="fc.id" *ngFor="let fc of services">{{fc.libelle}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="objet" class="col-sm-2 control-label">Objet :</label>

              <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm has-error" id="objet2" name="objet2"
                  placeholder="" [(ngModel)]="selected_data_req.objet" required>
              </div>
            </div>


            <div class="form-group row">
              <label for="msgrequest" class="col-sm-2 control-label">Message :</label>
              <div class="col-sm-10">
                <textarea class="form-control form-control-sm has-error" id="msgrequest2" name="msgrequest2"
                  placeholder="Message de la requête" [(ngModel)]="selected_data_req.msgrequest" required></textarea>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-warning mx-1" id="btn-save">
            <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24"><circle cx="18" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="6" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>
                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/></svg>
                <span>Enregistrer</span>
          </button>
        </div>
      </form>
    </ng-template>



    <ng-template #note let-modal>
      <form #frmnoter="ngForm" (ngSubmit)="noterRequete(frmnoter.value)" class="form-horizontal" novalidate="">
        <div class="modal-header bg-primary">
          <h5 class="modal-title text-white" id="modal-basic-title">Appreciation</h5>
          <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
            X
          </button>
        </div>
        <div class="modal-body">
          <span class="help-inline has-error-col" style="color:green !important;">Afin de mieux vous
            servir, nous aimerions recueillir votre appréciation du traitement de votre
            requête/plainte.</span>
          <span class="help-inline has-error-col">{{errormessage}}</span>
          <br><br>
          <div class="form-group row">
            <label for="objet2" class="col-sm-4">Objet de la requête </label>
            <div class="col-sm-8">
              <input readonly="" type="text" class="form-control  form-control-sm has-error" id="objet2" name="objet"
                value="{{selected_data_note.objet}}" [(ngModel)]="selected_data_note.objet" required>

            </div>
          </div>

          <div class="form-group row" style="margin-top: 30px;">
            <label class="col-sm-8" style="margin-right:15px;">Quel est votre degré de satisfaction
              par rapport au délai de traitement de votre demande ? * </label>
            <select name="noteDelai" style="width: 100px; height: 35px;" id="noteDelai"
              class="form-control form-control-sm" required ngModel>
              <option [value]="fc" *ngFor="let fc of notes">{{fc}}</option>
            </select>
          </div>



          <div class="form-group row" style="margin-top: 30px;">
            <label class="col-sm-8" style="margin-right:15px;">Quel est votre degré de satisfaction
              par rapport au résultat du traitement de votre sollicitation ? * </label>
            <select name="noteResultat" style="width: 100px; height: 35px;" id="noteResultat"
              class="form-control form-control-sm" required ngModel>
              <option [value]="fc" *ngFor="let fc of notes">{{fc}}</option>
            </select>
          </div>

          <div class="form-group row" style="margin-top: 30px;">
            <label for="commentaireNotation" class="col-sm-4">Commentaire :</label>
            <div class="col-sm-8">
              <textarea class="form-control form-control-sm has-error" id="commentaireNotation"
                name="commentaireNotation" ngModel></textarea>
            </div>
            <br><br>
          </div>
          <div class="col-md-12 text-center d-flex justify-content-center" *ngIf="loading">
            <div class="spinner-border text-secondary" role="status">
              <span class="sr-only">Processus en cours...</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf='selected_data_note.traiteOuiNon==1 && selected_data_note.noteUsager<1' type="submit"
            class="btn btn-primary" [disabled]="frmnoter.invalid">
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24"><circle cx="18" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="6" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>
                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/></svg>
                <span>Enregistrer</span>
          </button>
          <br><br>
        </div>
      </form>
    </ng-template>
  <!-- </div>
</div> -->


<ng-template #detailPresta let-modal>
  <form #frmrdv="ngForm" class="form-horizontal" novalidate="" *ngFor="let depi of detailpiece">
    <div class="modal-header bg-info">
      <h4 class="modal-title text-white" id="modal-basic-title">Informations sur la prestation</h4>
      <button type="button" class="close text-white" aria-label="Close"
        (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="modal-body">
      <label> Prestation : </label>
      <div class="form-group row">
        <label class="col-sm-10" style="padding-right:0px;"> {{ depi.libelle }} </label>
      </div><br />
      <div class="form-group row">
        <label class="col-sm-3"> Structure : </label>
        <div class="col-sm-9">{{ depi.service_parent.libelle!=null ? depi.service_parent.libelle : 'Aucune structure'}}
        </div>
      </div><br />
      <div class="form-group row">
        <label for="objet" class="col-sm-2">Délai : </label>
        <div class="col-sm-10">{{ depi.delai }}</div>
      </div><br />
      <label for="objet" class="col-sm-12">Liste des pièces : </label>
      <ul class="col-sm-12">
        <li *ngFor="let piece of depi.listepieces ; index as y " style="margin-bottom: 10px; list-style: none;">{{
          y+1}}. {{ piece.libellePiece }} </li>
      </ul>
    </div>
  </form>
</ng-template>

<ng-template #addRequete let-modal>
  <form #frmrequeteusager="ngForm" (ngSubmit)="addRequeteusager(frmrequeteusager.value)" novalidate>
    <!-- HEADER -->
    <div class="modal-header bg-info text-white">
      <h5 class="modal-title">
        <i class="fas fa-plus-circle me-2"></i> Ajouter une Préoccupation
      </h5>
      <button type="button" class="btn-close btn-close-white" aria-label="Close"
              (click)="modal.dismiss('Cross click')"></button>
    </div>

    <!-- BODY -->
    <div class="modal-body">
      <div *ngIf="errormessage" class="alert alert-danger mb-3">{{ errormessage }}</div>

      <!-- Point focal -->
      <div class="card border mb-3">
        <div class="card-header bg-light fw-bold small">
          Point focal communal
        </div>
        <div class="card-body p-2">
          <p class="mb-1">
            <strong>{{ user?.agent_user?.nomprenoms }}</strong> <br>
            <small>{{ user?.email }}</small>
          </p>
        </div>
      </div>

      <!-- WhatsApp -->
      <div *ngIf="selected_data_Whats" class="card border mb-3">
        <div class="card-header bg-light fw-bold small">
          Discussions WhatsApp
        </div>
        <div class="card-body p-2">
          <p class="mb-1"><strong>N° WhatsApp :</strong> {{ selected_data_Whats.numerowhatsapp }}</p>
          <p class="mb-0"><strong>Discussions :</strong> {{ selected_data_Whats.discussions }}</p>
        </div>
      </div>

      <!-- Préoccupation -->
      <div class="card border">
        <div class="card-header bg-light fw-bold small">
          Préoccupation
        </div>
        <div class="card-body">
          <!-- Contact et Email -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label">Contact</label>
              <input type="text" class="form-control form-control-sm"
                     name="contact"
                     [(ngModel)]="selected_data_rvMat"
                     [value]="selected_data_rvMat?.matri_telep || ''"
                     required>
            </div>
            <div class="col-md-6">
              <label class="form-label">E-mail</label>
              <input type="email" class="form-control form-control-sm"
                     name="mailUs" ngModel required>
            </div>
          </div>

          <!-- Structure -->
          <div class="mb-3">
            <label class="form-label">Structure destinatrice</label>
            <select name="idEntite" class="form-select form-select-sm"
                    ngModel="{{ user?.idEntite }}" (change)="onEntiteChange($event)">
              <option [value]="fc.id" *ngFor="let fc of institutions">{{ fc.libelle }}</option>
            </select>
          </div>

          <!-- Type -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label">Type</label>
              <select name="plainte" class="form-select form-select-sm"
                      [(ngModel)]="selected_type_preoccupation" required>
                <option disabled selected>Choisir</option>
                <option value="1">Plainte</option>
                <option value="2">Demande d'information</option>
              </select>
            </div>
          </div>

          <!-- Lien prestation -->
          <div class="mb-3" *ngIf="selected_type_preoccupation != 0">
            <label class="form-label d-block">Préoccupation liée à une prestation</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio"
                     [(ngModel)]="link_to_prestation"
                     name="link_to_prestation" value="1" id="prestaOui">
              <label class="form-check-label" for="prestaOui">Oui</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio"
                     [(ngModel)]="link_to_prestation"
                     name="link_to_prestation" value="0" id="prestaNon">
              <label class="form-check-label" for="prestaNon">Non</label>
            </div>
          </div>

          <!-- Thématique & Prestation -->
          <div *ngIf="link_to_prestation==1 || selected_type_preoccupation==0">
            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">Thématique</label>
                <select name="idType" class="form-select form-select-sm"
                        (change)="chargerPrestation($event)" ngModel required>
                  <option disabled selected>Choisir</option>
                  <option [value]="fc.id" *ngFor="let fc of themes">{{ fc.libelle }}</option>
                </select>
              </div>
              <div class="col-md-6" *ngIf="mat_aff">
                <label class="form-label">Matricule</label>
                <input type="text" class="form-control form-control-sm" name="matricule" ngModel>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Prestation</label>
              <select name="idPrestation" class="form-select form-select-sm"
                      ngModel (change)="openDetailModal($event, detailPresta)">
                <option disabled selected>Choisir</option>
                <option [value]="fc.id" *ngFor="let fc of services">{{ fc.libelle }}</option>
              </select>
            </div>
          </div>

          <!-- Objet -->
          <div class="mb-3">
            <label class="form-label">Objet</label>
            <input type="text" class="form-control form-control-sm" name="objet" ngModel required>
          </div>

          <!-- Message -->
          <div class="mb-3">
            <label class="form-label">Message</label>
            <textarea class="form-control form-control-sm" rows="3"
                      name="msgrequest" ngModel required></textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">
       <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24"><circle cx="18" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="6" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>
                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/></svg>
                <span>Enregistrer</span>
      </button>
      <button type="button" (click)="setVisible()" class="btn btn-primary">
       <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24"><circle cx="18" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="6" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>
                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/></svg>
                <span>Transmettre</span>
      </button>
    </div>
  </form>
</ng-template>


<ng-template #addAnswer let-modal>
  <form #frmReponse="ngForm" (ngSubmit)="addReponse(frmReponse.value)" class="form-horizontal " novalidate="">

    <div class="modal-header bg-secondary">
      <h5 class="modal-title text-white" id="modal-basic-title">Donner une réponse à cette discussion</h5>
      <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
        X
      </button>
    </div>
    <div class="modal-body">
      <div style="color:red">{{errormessage}}</div>

      <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
        <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Point focal
          communal : {{user?.agent_user?.nomprenoms}} / {{user?.email}}</h4>
      </fieldset>

      <fieldset *ngIf="selected_data_Whats != null" class="divusager" style="border:1px solid #ddd;padding:10px;">
        <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Discussions
          WhatsApp</h4>
        <div>N° WhatsApp : {{selected_data_Whats.numerowhatsapp}}</div>
        <div>Discussions : {{selected_data_Whats.discussions}}</div>
      </fieldset>

      <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
        <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Projet de
          réponse </h4>
        <div class="form-group row">
          <label for="objet" class="col-sm-3 control-label">Votre réponse : (*)</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm has-error" id="reponse_whats" name="reponse_whats"
              placeholder="" ngModel required>
          </div>
        </div>
        <div class="row form-group">
          <label for="message" class="col-md-3 ">Pièce Jointe</label>
          <div class="col-md-9">
            <input type="file" class="form-control" (change)="onFileChange($event)" #file="ngModel" name="fichier"
              ngModel>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-secondary mx-1" id="btn-save"><svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24"><circle cx="18" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="6" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>
                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/></svg>
                <span>Répondre</span></button>
    </div>
  </form>
</ng-template>
