<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-list text-primary"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" routerLink="/main">
          <img src="assets/logo-mtfp.png" alt="Bootstrap" width="180"  height="60">
        </a>
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item d-flex"> 
            <a class="nav-link text-dark h6 meb text-center align-self-center" aria-current="page" routerLink="/main" routerLinkActive="active">ACCUEIL</a>
          </li>
          <li class="nav-item "> 
            <a class="nav-link text-dark h6 meb text-center" aria-current="page" routerLink="/prestations-par-thematique" routerLinkActive="active">NOS PRESTATIONS</a>
          </li>
          <li class="nav-item "> 
            <a class="nav-link text-dark h6 meb text-center" aria-current="page" routerLink="/e-services" routerLinkActive="active">e-SERVICES</a>
          </li>
          <li class="nav-item "> 
            <a class="nav-link text-dark h6 meb text-center" aria-current="page" routerLink="/auth/logusager" routerLinkActive="active">MON ESPACE USAGER</a>
          </li>
          <li class="nav-item "> 
            <a class="nav-link text-dark h6 meb text-center" aria-current="page" routerLink="/requetes" routerLinkActive="active">SOUMETTRE UNE PREOCCUPATION</a>
          </li>
          <li class="nav-item "> 
            <a class="nav-link text-dark h6 meb text-center" target="_blank" href="https://travail.gouv.bj/contact">NOS CONTACTS</a>
          </li>
        </ul>
  
      </div>
    </div>
  </nav>