.main{
    height: 100vh;
    width: 100vw;
    background-image: url('../../../../../assets/images/bg-public.jpg');
    background-attachment: cover;
    background-position: center;
    background-repeat: no-repeat;
}