/* Calendar style */
::ng-deep p-calendar {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

::ng-deep .p-datepicker-current-day {
  color: #fff; /* Assuming primary-dark is a dark blue */
  background-color: #162233;
  border: 1px solid #11845A;
}

::ng-deep .p-datepicker-current-day:hover {
  background-color: #1e40af;
  color: white;
}

::ng-deep .p-datepicker table td.p-datepicker-today > span {
  color: #1e40af;
  background-color: rgba(30, 64, 175, 0.1);
  border-radius: 9999px;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
  color: #1a1a1a;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:hover {
  color: #1e40af;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: #1a1a1a;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:hover {
  color: #1e40af;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-prev {
  color: #1a1a1a;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-prev:hover {
  color: #1e40af;
  background-color: rgba(30, 64, 175, 0.1);
  border-radius: 9999px;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-next {
  color: #1a1a1a;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-next:hover {
  color: #1e40af;
  background-color: rgba(30, 64, 175, 0.1);
  border-radius: 9999px;
}
