

<footer class="bg-[#162233] text-white w-full min-w-full!">
  <div class="container mx-auto px-4 py-8!">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8!">
      <!-- Logo et description -->
      <div class="lg:col-span-2!">
        <div class="flex items-center space-x-4 mb-8!">
          <!-- <div class="bg-gradient-to-br from-[#11845A] to-[#023E79] p-4 rounded-2xl!">
            <div class="text-white font-bold text-2xl!">PDA</div>
          </div> -->
          <div>
            <img src="assets/logo-mtfp-benin1.png" alt="mtfp-logo" class="h-20!">
            <h3 class="text-2xl font-bold!">Portail des Démarches Administratives</h3>
          </div>
        </div>
        <p class="text-gray-300 leading-relaxed mb-8 text-lg max-w-md!">
          Simplifiez vos démarches administratives avec notre plateforme digitale moderne,
          sécurisée et accessible 24h/24.
        </p>
        <div class="flex space-x-4!">
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://travail.gouv.bj/contact"
            class="bg-[#11845A] hover:bg-[#0f7550] text-white p-3 rounded-xl transition-all duration-300 hover:scale-110!">
           <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M13 22H9a1 1 0 0 1-1-1v-6.2H6a1 1 0 0 1-1-1v-3.6a1 1 0 0 1 1-1h2V7.5A5.77 5.77 0 0 1 14 2h3a1 1 0 0 1 1 1v3.6a1 1 0 0 1-1 1h-3v1.6h3a1 1 0 0 1 .8.39a1 1 0 0 1 .16.88l-1 3.6a1 1 0 0 1-1 .73H14V21a1 1 0 0 1-1 1m-3-2h2v-6.2a1 1 0 0 1 1-1h2.24l.44-1.6H13a1 1 0 0 1-1-1V7.5a2 2 0 0 1 2-1.9h2V4h-2a3.78 3.78 0 0 0-4 3.5v2.7a1 1 0 0 1-1 1H7v1.6h2a1 1 0 0 1 1 1Z" />
            </svg>
          </a>
          <a target="_blank" href="https://x.com/gouvbenin"
            class="bg-[#023E79] hover:bg-[#1e40af] text-white p-3 rounded-xl transition-all duration-300 hover:scale-110!">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"><path fill="currentColor" d="m17.687 3.063l-4.996 5.711l-4.32-5.711H2.112l7.477 9.776l-7.086 8.099h3.034l5.469-6.25l4.78 6.25h6.102l-7.794-10.304l6.625-7.571zm-1.064 16.06L5.654 4.782h1.803l10.846 14.34z"/></svg>
          </a>
          <a target="_blank" href="https://www.youtube.com/playlist?list=PLh3-Uo-mLBzJVI7lrWZ0fCDo4nFNkNVTf"
            class="bg-[#11845A] hover:bg-[#0f7550] text-white p-3 rounded-xl transition-all duration-300 hover:scale-110!">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"><path fill="currentColor" d="M21.58 7.194a2.47 2.47 0 0 0-1.773-1.775C18.258 5 12 5 12 5s-6.258 0-7.806.42a2.47 2.47 0 0 0-1.775 1.774C2 8.774 2 12 2 12s0 3.258.42 4.807c.225.87.903 1.548 1.774 1.774C5.742 19 12 19 12 19s6.258 0 7.807-.42a2.47 2.47 0 0 0 1.774-1.773C22 15.258 22 12 22 12s0-3.226-.42-4.806M10 15V9l5.194 3z"/></svg>
          </a>
          <a target="_blank" href="https://www.flickr.com/photos/194601638@N02/albums"
            class="bg-[#023E79] hover:bg-[#1e40af] p-3 text-white rounded-xl transition-all duration-300 hover:scale-110!">
           <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"><path fill="currentColor" d="M11.157 12a4.573 4.573 0 1 1-9.147 0a4.573 4.573 0 0 1 9.147 0m10.833 0a4.573 4.573 0 1 1-9.147 0a4.573 4.573 0 0 1 9.147 0"/></svg>
          </a>
        </div>
      </div>

      <!-- Liens rapides -->
      <div class="col-span-1">
        <h4 class="text-xl font-bold mb-8 text-[#11845A]!">Navigation</h4>
        <ul class="space-y-4 list-none!">
          <li><a routerLink="/main"
              class="text-gray-300 hover:text-white transition-colors text-lg hover:translate-x-2 transform duration-300 inline-block!">Accueil</a></li>
          <li><a routerLink="/prestations-par-thematique"
              class="text-gray-300 hover:text-white transition-colors text-lg hover:translate-x-2 transform duration-300 inline-block!">Prestations</a></li>
          <li><a routerLink="/e-services"
              class="text-gray-300 hover:text-white transition-colors text-lg hover:translate-x-2 transform duration-300 inline-block!">E-Services</a></li>
          <li><a routerLink="/auth/logusager"
              class="text-gray-300 hover:text-white transition-colors text-lg hover:translate-x-2 transform duration-300 inline-block!">Mon Espace</a></li>
          <li><a target="_blank" href="https://travail.gouv.bj/contact"
              class="text-gray-300 hover:text-white transition-colors text-lg hover:translate-x-2 transform duration-300 inline-block!">Contact</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-span-1">
        <h4 class="text-xl font-bold mb-8 text-[#023E79]!">Contact</h4>
        <ul class="space-y-6!">
          <li class="flex items-start space-x-4!">
            <div class="bg-[#11845A] p-2 rounded-lg mt-1!">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path
                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                  <circle cx="12" cy="10" r="3" />
                </g>
              </svg>
            </div>
            <div>
              <p class="text-white font-medium!">Cotonou, République du Bénin</p>
              <p class="text-gray-300!">Ministère du Travail et de la Fonction Publique</p>
            </div>
          </li>
          <li class="flex items-center space-x-4!">
            <div class="bg-[#023E79] p-2 rounded-lg!">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233a14 14 0 0 0 6.392 6.384" />
              </svg>
            </div>
            <a href="tel:+2290152160000" class="text-gray-300 text-lg!">+229 01 52 16 00 00</a>
          </li>
          <li class="flex items-center space-x-4!">
            <div class="bg-[#11845A] p-2 rounded-lg!">
               <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="m22 7l-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
                  <rect width="20" height="16" x="2" y="4" rx="2" />
                </g>
              </svg>
            </div>
            <a href="mailto:mtfp.usager@gouv.bj" class="text-gray-300 text-lg!">{{'mtfp.usager@gouv.bj'}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="border-t border-gray-700 mt-8 pt-8!">
      <div class="flex flex!-col md:flex!-row justify-between items-center space-y-4 md:space-y-0!">
        <div class="text-center md:text-left!">
          <p class="text-gray-400 mb-2!">République du Bénin - Ministère du Travail et de la Fonction Publique</p>
          <p class="text-gray-400!">© {{year}} Tous Droits Réservés</p>
        </div>
        <div class="flex space-x-6!">
          <a href="#" class="text-gray-400 hover:text-white transition-colors!">Politique de confidentialité</a>
          <a href="#" class="text-gray-400 hover:text-white transition-colors!">Conditions d'utilisation</a>
        </div>
      </div>
    </div>
  </div>
</footer>
