
<footer>
    <div class="text-center my-3">
        <a class="text-white" routerLink="mentions-legales">Politique de confidentialité</a>
    </div>
        
    <p class="text-center text-white">République du Bénin - Ministère du Travail et de la Fonction Publique</p>
    <p class="text-center text-white">© Tous Droits Reservés 2021</p>

    <div class="d-flex">
        <div class="green" style="height:5px; width:33%"></div>
        <div class="yellow" style="height:5px;width:34%"></div>
        <div class="red" style="height:5px;width:33%"></div>
    </div>
</footer>