<div class="flex flex-col gap-y-8 w-full">
  <div class="p-3">
    <form [formGroup]="searchForm" (ngSubmit)="getStats()" class="form-horizontal mb-3" novalidate="">

      <div class="flex flex-row gap-3 w-4/5 2xl:w-3/5">
        <!-- <span class="input-group-text">Filtre</span> -->
        <p-calendar appendTo="body" dateFormat="dd/mm/yy" [maxDate]="endDate" formControlName="dates"
          placeholder="Selectionnez un intervale de date" [iconDisplay]="'input'" selectionMode="range"
          [readonlyInput]="true" [showIcon]="true" inputId="templatedisplay">
          <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
            <span class="p-element p-icon-wrapper p-datepicker-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-gray-400 pointer-events-none"
                (click)="clickCallBack($event)" viewBox="0 0 24 24">
                <g fill="none">
                  <path stroke="currentColor" stroke-width="1.5"
                    d="M2 12c0-3.771 0-5.657 1.172-6.828S6.229 4 10 4h4c3.771 0 5.657 0 6.828 1.172S22 8.229 22 12v2c0 3.771 0 5.657-1.172 6.828S17.771 22 14 22h-4c-3.771 0-5.657 0-6.828-1.172S2 17.771 2 14z" />
                  <path stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
                    d="M7 4V2.5M17 4V2.5M2.5 9h19" />
                  <path fill="currentColor"
                    d="M18 17a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-5 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-5 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0" />
                </g>
              </svg>
            </span>
          </ng-template>
        </p-calendar>
        <p-dropdown class="w-full"
          [options]="[{name:'Tout',id:'all'},{name:'Homme',id:'Homme'},{name:'Femme',id:'Femme'}]" formControlName="sex"
          optionLabel="name" optionValue="id" placeholder="Selectionnez le sexe">
          <ng-template pTemplate="dropdownicon">
            <div class="flex items-center justify-center text-black py-[0.6rem]">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m7 10l5 5m0 0l5-5" />
              </svg>
            </div>
          </ng-template>
        </p-dropdown>
        <button
          class="bg-green-light hover:bg-green-light/95 rounded-lg px-3 py-2 text-white flex items-center justify-center gap-2"
          [ngClass]="{'cursor-not-allowed bg-green-light/60':searchForm.invalid || loading2}"
          [disabled]="searchForm.invalid || loading2" type="submit" id="button-addon2">
          <span>Rechercher</span>
          <svg *ngIf="loading2" xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24">
            <path fill="currentColor" d="M12 2A10 10 0 1 0 22 12A10 10 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8A8 8 0 0 1 12 20Z"
              opacity="0.5" />
            <path fill="currentColor" d="M20 12h2A10 10 0 0 0 12 2V4A8 8 0 0 1 20 12Z">
              <animateTransform attributeName="transform" dur="1s" from="0 12 12" repeatCount="indefinite"
                to="360 12 12" type="rotate" />
            </path>
          </svg>
          <!-- <app-loading [isVisible]="loading2"></app-loading> -->
        </button>
      </div>
    </form>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <div class="bg-white rounded-3xl shadow-sm border border-gray-100 p-8 animate-in">
        <h3 class="text-base lg:text-lg 2xl:text-xl font-medium text-dark-900 mb-6">Evolution de la fréquentation de mon
          centre</h3>
        <div class="space-y-4">
          <canvas #chart width="400" height="200" baseChart [data]="lineChartData" [options]="lineChartOptions"
            [type]="lineChartType"></canvas>
        </div>
      </div>

      <div class="bg-white rounded-3xl shadow-sm border border-gray-100 p-8 animate-in">
        <h3 class="text-base lg:text-lg 2xl:text-xl font-medium text-dark-900 mb-6">Evaluation de la fréquentation par
          rapport au centre</h3>
        <div class="space-y-4">
          <canvas #chart2 width="400" height="200" baseChart [data]="barChartData" [options]="barChartOptions"
            [type]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full bg-white rounded-3xl shadow-sm border border-gray-100 p-6 animate-in">
    <h3 class="text-base lg:text-lg 2xl:text-xl font-medium text-dark-900 mb-6"> <p>{{registres!.length}} élément(s)</p></h3>
    <div class="space-y-4">
      <div class="table-responsive">
        <table class="w-full rounded-t-lg border-separate border-spacing-0">
          <thead class="bg-primary">
            <tr>
              <th class="py-3.5 px-4 text-start text-xs font-semibold text-white border-b border-primary rounded-tl-lg">
                Date d'enreg
              </th>
              <th class="py-3.5 px-4 text-start text-xs font-semibold text-white border-b border-primary">
                Nature de visite
              </th>
              <th class="py-3.5 px-4 text-start text-xs font-semibold text-white border-b border-primary">
                Matricule/Téléphone

              </th>
              <th class="py-3.5 px-4 text-start text-xs font-semibold text-white border-b border-primary">
                Nom et prénom(s)

              </th>
              <th class="py-3.5 px-4 text-start text-xs font-semibold text-white border-b border-primary">

                Sexe

              </th>
              <th class="py-3.5 px-4 text-start text-xs font-semibold text-white border-b border-primary">

                Sigle Ministère

              </th>
              <th class="py-3.5 px-4 text-start text-xs font-semibold text-white border-b border-primary">
                Préoccupation
              </th>
              <th class="py-3.5 px-4 text-start text-xs font-semibold text-white border-b border-primary">

                Satisfait Oui/Non
              </th>
              <th class="rounded-tr-lg py-3.5 px-4 text-start text-xs font-semibold text-white border-b border-primary">
                Motif
              </th>
            </tr>
          </thead>
          <tbody *ngIf="registres.length !== 0">
            <tr *ngFor="let rg of registres
                             | sampleSearch:search_text:'registre'
                             | paginate: {
                                    id:'ngxP1',
                                    itemsPerPage: pg.pageSize,
                                    currentPage: pg.p,
                                    totalItems: pg.total }">
              <td class="py-2.5 px-4 text-xs font-medium border border-gray-200">{{rg.created_at | date:'dd/MM/yyy'}} </td>
              <td class="py-2.5 px-4 text-xs font-medium border border-gray-200">
                <span *ngIf="rg.plainte==0">Requête</span>
                <span *ngIf="rg.plainte==1">Plainte</span>
                <span *ngIf="rg.plainte==2">Demande d'information</span>
              </td>
              <td class="py-2.5 px-4 text-xs font-medium border border-gray-200">{{rg.matri_telep}} </td>
              <td class="py-2.5 px-4 text-xs font-medium border border-gray-200">{{rg.nom_prenom}} </td>
              <td class="py-2.5 px-4 text-xs font-medium border border-gray-200">{{rg.sex}} </td>
              <td class="py-2.5 px-4 text-xs font-medium border border-gray-200">{{rg.entite==null ? '--' : rg.entite.sigle}} </td>
              <td class="py-2.5 px-4 text-xs font-medium border border-gray-200">{{rg.contenu_visite}} </td>
              <td class="text-center py-2.5 px-4 text-xs font-medium border border-gray-200">
                <span class="badge bg-success text-white" *ngIf="rg.satisfait=='oui'">Oui</span>
                <span class="badge bg-success text-white" *ngIf="rg.satisfait=='non'">Non</span>
              </td>
              <td class="py-2.5 px-4 text-xs font-medium border border-gray-200">{{rg.observ_visite}} </td>
            </tr>

          </tbody>
          <tbody *ngIf="registres.length === 0" class="divide-y divide-gray-300 bg-white">
          <tr>
            <td colspan="10" class="p-4 w-full whitespace-nowrap">
              <div class="flex justify-center w-full items-center text-gray-800 text-center">
                <div *ngIf="!loading2"
                class="flex flex-col justify-center w-full items-center text-gray-800 text-center space-y-3"><svg
                  xmlns="http://www.w3.org/2000/svg" class="size-12 text-primary" viewBox="0 0 24 24">
                  <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="1.5" color="currentColor">
                    <path
                      d="M18 15v7m3.5-3.5h-7M7 16h4m-4-5h8M6.5 3.5c-1.556.047-2.483.22-3.125.862c-.879.88-.879 2.295-.879 5.126v6.506c0 2.832 0 4.247.879 5.127C4.253 22 5.668 22 8.496 22H11.5m3.992-18.5c1.556.047 2.484.22 3.125.862c.88.88.88 2.295.88 5.126V12" />
                    <path
                      d="M6.496 3.75c0-.966.784-1.75 1.75-1.75h5.5a1.75 1.75 0 1 1 0 3.5h-5.5a1.75 1.75 0 0 1-1.75-1.75" />
                  </g>
                </svg>
                <p class="font-avenirMedium text-sm">Aucune donnée</p>

              </div>
                <div *ngIf="loading2"
                  class="flex flex-col justify-center w-full items-center text-gray-800 text-center space-y-3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="size-12 text-primary" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.2">
                      <path stroke-dasharray="16" stroke-dashoffset="16" d="M12 3c4.97 0 9 4.03 9 9">
                        <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="16;0" />
                        <animateTransform attributeName="transform" dur="1.5s" repeatCount="indefinite" type="rotate"
                          values="0 12 12;360 12 12" />
                      </path>
                      <path stroke-dasharray="64" stroke-dashoffset="64" stroke-opacity="0.2"
                        d="M12 3c4.97 0 9 4.03 9 9c0 4.97 -4.03 9 -9 9c-4.97 0 -9 -4.03 -9 -9c0 -4.97 4.03 -9 9 -9Z">
                        <animate fill="freeze" attributeName="stroke-dashoffset" dur="1.2s" values="64;0" />
                      </path>
                    </g>
                  </svg>
                  <p class="font-avenirMedium text-sm">Chargement en cours ...</p>

                </div>
              </div>
            </td>
          </tr>
        </tbody>
        </table>

      </div>
      <pagination-controls id="ngxP1" (pageChange)="getPage($event)" [maxSize]="9" [directionLinks]="true"
        [autoHide]="true" [responsive]="true" [previousLabel]="'Précédent'" [nextLabel]="'Suivant'"
        [screenReaderPaginationLabel]="'Pagination'" [screenReaderPageLabel]="'page'"
        [screenReaderCurrentLabel]="'Vous êtes sur la page'">
      </pagination-controls>
    </div>
  </div>

</div>
