  <h1 class="text-center text-white fw-bold mb-3" >MON ESPACE USAGER</h1>
<div class="container my-4" >
<div class="row">
            <div class="col-md-6 col-12 mx-auto">
                <form #codeForm="ngForm" (ngSubmit)="codeVerification(codeForm.value)">
                    <div class="card" style="background-color: #FFF;box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
                        ">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="">Code de vérification</label> <label class="ml-2" style="color:red; font-size: 14px; font-style: italic;">(Le code sera détruit dans 5 min. Cliquez sur Renvoyer le code  pour obtenir un autre.)</label>
                                <input type="text" class="form-control" name="code" #code="ngModel" ngModel>
                                <span *ngIf="code.invalid && (code.dirty || code.touched)" class="text-danger">
                                    <small *ngIf="code.errors?.['required']" id="typeLabelHelp" class="form-text">Code requis</small>
                                </span>
                            </div>

                            <div class="d-flex">
                                <a (click)="resendCode()" class="text-center text-primary mb-3" id="renvoi" style="cursor: pointer;"> Renvoyer le code </a>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" name="authorized_always_id" #authorized_always_id="ngModel" ngModel>
                                    <label class="form-check-label" for="gridCheck">
                                        Toujours autorisé la connexion avec ce PC
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-warning" [disabled]="codeForm.invalid || loading">Vérifier</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>


