.blueColor{
    background-color: #0A3764 !important;
}
.blueColorT{
    color: #0A3764;
}


:host,
:host *:not(svg):not(svg *):not(input[type="radio"]):not(input[type="radio"] *) {
  all: unset;
  display: revert;
  box-sizing: inherit;
  font-family: inherit;
  color: inherit;
  /* Conserve les effets Tailwind */
  animation: inherit;
  transition: inherit;
  transform: inherit;
  opacity: inherit;

  /* Désactive seulement ce que Bootstrap surcharge */
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  text-decoration: none;
  list-style: none;
}

:host {
  font-family: 'Montserrat', sans-serif;
}


::ng-deep .p-radiobutton-checked .p-radiobutton-box {
  border-color: #fcc800 !important;
  background: #FFF !important;
}

::ng-deep .p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
  background: #fcc800 !important;
}

.p-radiobutton-checked .p-radiobutton-box {
  border-color: #fcc800 !important;
  background: #FFF !important;
}

.p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
  background: #fcc800 !important;
}
