
a .active{
    color: #0A3764 !important;
}
body {
    font-family: 'Open Sans',"Century Gothic",calibri !important;
}

.nav-link:focus, .nav-link:hover {
    color: #0a58ca;
}

.my-cookie{
    position:fixed;
    bottom:20px;
    right: 10px;
    height:300px;
    width:500px;
    background-color:white;
    opacity:0.9;

}

.blueColor{
    background-color: #0A3764 !important;
}
.blueColorT{
    color: #0A3764;
}

/* .header-container{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../../../../assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
} */


