.container {
    height: 100vh;
  }
  mat-toolbar {
    display: flex;
    justify-content: space-between;
  }
  mat-sidenav {
    width: 250px;
  }

  mat-icon{
    color:  white !important;
  }

  mat-toolbar{
    background-color: #0A3764;
    color: white;
  }
  mat-sidenav-content{
    min-height: 100vh !important;
    /* overflow: hidden; */
  }

.blueColor{
    background-color: #0A3764 !important;
}
.blueColorT{
    color: #0A3764;
}

  

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.username {
  margin-right: 4px;
  font-weight: 500;
}

.menu-header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.menu-header .avatar {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.menu-header p {
  margin: 0;
  font-size: 0.8rem;
  color: gray;
}


.bg-mat-primary{
    background-color: #2f3364 !important
  }