.container {
    height: 100vh;
  }
  mat-toolbar {
    display: flex;
    justify-content: space-between;
  }
  mat-sidenav {
    width: 250px;
  }

  mat-icon{
    color:  white !important;
  }

  mat-toolbar{
    background-color: #0A3764;
    color: white;
  }
  mat-sidenav-content{
    height: 100vh !important;
  }

.blueColor{
    background-color: #0A3764 !important;
}
.blueColorT{
    color: #0A3764;
}

  