<div class="flex flex-col gap-y-8 w-full">
  <div>
    <h2 class="text-3xl font-semibold text-dark-900 mb-2 text-balance">Vos préocupations</h2>
  </div>

  <div class="w-full bg-white rounded-3xl shadow-sm border border-gray-100 p-6 animate-in">
    <h3 class="text-base lg:text-lg 2xl:text-xl font-medium text-dark-900 mb-6">
      <p>{{data.length}} élément(s)</p>
    </h3>
    <div class="space-y-4">
      <div class="table-responsive">


      </div>
    </div>
  </div>
</div>
<div class="card-body pt-3 pb-0">

  <div class="row col-md-12 d-flex text-end my-3">
    <button (click)="openAddModal(add)" class="btn rounded-0 shadow-sm bg-mat-primary text-white mx-1">Ajouter
      une
      préoccupation</button>
  </div>

  <div class="card-toolbar d-flex justify-content-between mt-4">
    <ul class="nav nav-pills ml-2 nav-pills-sm nav-dark-75">
      <li class="nav-item">
        <span class="mr-2">{{data.length}} élement(s)</span>
      </li>
      <li class="nav-item">
        <form>
          <div class="form-group form-inline">
            <input class="form-control form-control-sm form-control-sm form-control form-control-sm form-control-sm-sm "
              placeholder="Rechercher...." type="text" [(ngModel)]="searchText" name="searchText" (keyup)="search()" />
          </div>
        </form>
      </li>
      <li class="nav-item">


      </li>

    </ul>
    <div>

    </div>
  </div>
  <!--begin::Table-->
  <div class="table-responsive">

    <table class="table table-bordered table-striped datatable  table-head-custom table-vertical-center"
      id="kt_datatable">
      <thead>
        <tr>
          <td class="left text-left" colspan="15">

            <button *ngIf="show_actions" (click)="openEditModal(edit)" title="Modifier la requête"
              class="btn mx-1 btn-xs btn-warning edit">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
              </svg>
            </button>

            <button *ngIf="show_actions" title="Supprimer à la requête" (click)="dropRequeteusager()"
              class="btn mx-1 btn-xs btn-danger edit">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
            </button>

            <button *ngIf="show_actions" title="Transmettre la requête" (click)="transmettreRequete()"
              class="btn mx-1 btn-xs btn-success">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-90deg-right" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z" />
              </svg>
            </button>
          </td>
        </tr>
        <tr>
          <th></th>
          <th width="7%">Date Enreg.</th>
          <th width="10%">Type</th>
          <th width="15%">Prestation</th>
          <th width="15%">Objet</th>
          <th width="15%">Message</th>
          <th width="15%">Statut</th>

          <th>Notification</th>
          <!--<th width="20%">Durée Traitement</th>-->
          <th width="10%">Appréciation.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of data | sampleSearch:search_text
                             | paginate: {
                                    id:'ngxP1',
                                    itemsPerPage: pg.pageSize,
                                    currentPage: pg.p,
                                    totalItems: pg.total }; index as i">
          <td>
            <input type="radio" [value]="el" ngModel name="getrequete" (change)="checked($event,el)">
          </td>
          <td>{{el.created_at | date:'dd/MM/yyy hh:mm:ss'}} </td>
          <td>
            <span *ngIf="el.plainte==0">Requête</span>
            <span *ngIf="el.plainte==1">Plainte</span>
            <span *ngIf="el.plainte==2">Demande d'information</span>
          </td>
          <td>{{el.service==null ? '' : el.service.libelle}} </td>
          <td>{{el.objet}}{{(el.matricule=='' || el.matricule== null) ? '' : " / Matricule : "+el.matricule}} </td>
          <td>{{el.msgrequest}} </td>
          <td>
            <span *ngIf="el.visible==0">1. En attente de transmission</span>
            <span *ngIf="el.visible==1">1. En cours de traitement au {{el.entite==null ? '--' : el.entite.sigle}}</span>

            <div *ngFor="let parc of el.parcours; let i=index">

              <!-- <span *ngIf="i==0" style="display:none">{{i+1}}</span> -->
              <span *ngIf="i>=1">{{i+1}}. {{ show_step(parc.idEtape)==null ? '' : show_step(parc.idEtape).LibelleEtapeUs
                }}</span>
            </div>

            <!--span *ngIf="el.visibl
                                            e==1 && el.traiteOuiNon==0  && el.rejete==0 && el.interrompu==0">En
                                            cours de traitement {{el.entite.sigle}} ChangerFile(el.fichier_joint) </span-->
            <span *ngIf="el.visible==1 && el.traiteOuiNon==1  && el.rejete==1">Rejeté</span>
            <span *ngIf="el.visible==1 && el.traiteOuiNon==1 && el.interrompu==1">Interrompu</span>
            <span
              *ngIf="el.visible==1 && el.visible==1 && el.traiteOuiNon==1  && el.rejete==0 && el.interrompu==0">Finalisé</span>
          </td>

          <td>
            {{el.reponseStructure}}
            <span *ngIf="el.fichier_joint">Fichier reponse : <a target="blank" (click)="ChangerFile(el.fichier_joint)"
                href="#">{{el.fichier_joint}}</a></span>
          </td>
          <!--<td>{{Date.dateDiff('d',s.created_at,s.dateReponse)}} </td>-->
          <td *ngIf="el.archiver == 0">
            <button (click)="openNoteModal(note,el)" *ngIf="el.traiteOuiNon===1 && el.noteUsager===NULL"
              title="Apprécier la prestation" class="btn btn-xs btn-danger edit"><svg width="1em" height="1em"
                viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
              </svg> </button>
            <span *ngIf="el.noteUsager!=NULL">{{el.noteUsager}}</span>

          </td>




        </tr>
        <tr *ngIf="data.length==0">
          <td colspan="9" class="text-center bg-gray-100">Aucun elements</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <pagination-controls id="ngxP1" (pageChange)="getPage($event)" [maxSize]="9" [directionLinks]="true"
        [autoHide]="true" [responsive]="true" [previousLabel]="'Précédent'" [nextLabel]="'Suivant'"
        [screenReaderPaginationLabel]="'Pagination'" [screenReaderPageLabel]="'page'"
        [screenReaderCurrentLabel]="'Vous êtes sur la page'">
      </pagination-controls>
    </div>
  </div>
  <ng-template #newrdv let-modal>
    <form #frmrdv="ngForm" (ngSubmit)="saveRdv(frmrdv.value)" class="form-horizontal" novalidate="">
      <div class="modal-header bg-mat-primary">
        <h5 class="modal-title text-white" id="modal-basic-title">Prendre un rendez-vous </h5>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
          X
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row mb-3" *ngIf="entite_vis">
          <label for="idEntite" class="col-sm-4">Structure destinatrice</label>
          <div class="col-sm-7" style="padding-right:0px;">
            <select name="idEntite" id="idEntite" class="form-control form-control-sm" ngModel={{user?.institu_id}}
              (change)="onEntiteChange($event)">
              <option [value]="fc.id" *ngFor="let fc of institutions">{{fc.libelle}}</option>
            </select>

          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="dateRdv" class="col-sm-4">Date du prochain RDV</label>
          <div class="col-sm-7" style="padding-right:0px;">
            <input name="dateRdv" required type="date" id="dateRdv" class="form-control form-control-sm" ngModel />

          </div>
        </div>
        <br>


        <div class="form-group row mb-3" style="margin-top: 30px;">
          <label class="col-sm-4" style="margin-right:15px;">Préoccupation concernée: </label>

          <div class="col-sm-7" style="padding-left:0px;">
            <select name="codeRequete" id="codeRequete" class="form-control form-control-sm" required ngModel
              (change)="selectRequest($event)">
              <option value="0">Aucune</option>
              <option [value]="fc.codeRequete" *ngFor="let fc of dataNT">{{fc.codeRequete+' : '+fc.objet}}</option>

            </select>
          </div>
        </div>
        <div *ngIf="show_structures" class="form-group row mb-3" style="margin-top: 30px;">
          <label class="col-sm-4" style="margin-right:15px;">Structure </label>

          <div class="col-sm-7" style="padding-left:0px;">
            <select name="idStructure" id="idStructure" class="form-control form-control-sm" ngModel>
              <option [value]="fc.id" *ngFor="let fc of structures">{{fc.libelle}}</option>

            </select>
          </div>
        </div>


        <div class="form-group row mb-3" style="margin-top: 30px;">

          <label for="objet" class="col-sm-4">Objet du RDV</label>
          <div class="col-sm-7" style="padding-right: 0px;">
            <input type="text" class="form-control has-error" id="objet" name="objet" [(ngModel)]="selected_el_obj"
              required>

          </div>
        </div>

        <div class="form-group row mb-3" style="margin-top: 30px;">
          <label class="col-sm-4" style="margin-right:15px;">Créneaux : </label>
          <div class="col-sm-7" style="padding-left: 0px;">
            <select name="idRdvCreneau" id="idRdvCreneau" class="form-control form-control-sm" required ngModel>
              <option [value]="fc.id" *ngFor="let fc of rdvcreneaus">{{fc.heureDebut+' - '+fc.heureFin}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row mb-3" style="margin-top: 30px;">
          <label for="attente" class="col-sm-4">Vos attentes à l'issue de l'entretion :</label>
          <div class="col-sm-8">
            <textarea class="form-control form-control-sm has-error" id="attente" name="attente" ngModel></textarea>
          </div>
          <br><br>
        </div>

        <div class="col-md-12 text-center d-flex justify-content-center" *ngIf="loading">
          <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Processus en cours...</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="frmrdv.invalid">
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24">
            <circle cx="18" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="12" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="6" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin="0" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
          </svg>
          <span>Enregistrer</span>
        </button>
        <button type="submit" (click)="setStatut()" [disabled]="frmrdv.invalid" class="btn btn-info">
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24">
            <circle cx="18" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="12" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="6" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin="0" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
          </svg>
          <span>Transmettre</span>
        </button>
        <br><br>
      </div>
    </form>
  </ng-template>
  <ng-template #editrdv let-modal>
    <form #frmeditrdv="ngForm" (ngSubmit)="editRDV(frmeditrdv.value)" class="form-horizontal" novalidate="">
      <div class="modal-header bg-mat-primary">
        <h5 class="modal-title text-white" id="modal-basic-title">Modifier un rendez-vous </h5>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
          X
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row mb-3" *ngIf="entite_vis">
          <label for="idEntite" class="col-sm-4">Structure destinatrice</label>
          <div class="col-sm-7" style="padding-right:0px;">
            <select name="idEntite" id="idEntite" class="form-control form-control-sm"
              [(ngModel)]="selected_data2.idEntite" (change)="onEntiteChange($event)">
              <option [value]="fc.id" *ngFor="let fc of institutions">{{fc.libelle}}</option>
            </select>

          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="dateRdv" class="col-sm-4">Date du prochain RDV</label>
          <div class="col-sm-7" style="padding-right:0px;">
            <input name="dateRdv" required type="date" id="dateRdv" class="form-control form-control-sm"
              [(ngModel)]="selected_data2.dateRdv" />
          </div>
        </div>
        <br>


        <div class="form-group row mb-3" style="margin-top: 30px;">
          <label class="col-sm-4" style="margin-right:15px;">Préoccupation concernée: </label>

          <div class="col-sm-7" style="padding-left:0px;">
            <select name="codeRequete" id="codeRequete" class="form-control form-control-sm" required
              [(ngModel)]="selected_data2.codeRequete" (change)="selectRequest($event)">
              <option value="0">Aucune</option>
              <option [value]="fc.codeRequete" *ngFor="let fc of data">{{fc.codeRequete+' : '+fc.objet}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="show_structures" class="form-group row mb-3" style="margin-top: 30px;">
          <label class="col-sm-4" style="margin-right:15px;">Structure </label>

          <div class="col-sm-7" style="padding-left:0px;">
            <select name="idStructure" id="idStructure" class="form-control form-control-sm"
              [(ngModel)]="selected_data2.idStructure">
              <option [value]="fc.id" *ngFor="let fc of structures">{{fc.libelle}}</option>

            </select>
          </div>
        </div>


        <div class="form-group row mb-3" style="margin-top: 30px;">

          <label for="objet" class="col-sm-4">Objet du RDV</label>
          <div class="col-sm-7" style="padding-right: 0px;">
            <input type="text" class="form-control has-error" id="objet" name="objet" [(ngModel)]="selected_data2.objet"
              required>

          </div>
        </div>

        <div class="form-group row mb-3" style="margin-top: 30px;">
          <label class="col-sm-4" style="margin-right:15px;">Créneaux : </label>
          <div class="col-sm-7" style="padding-left: 0px;">
            <select name="idRdvCreneau" id="idRdvCreneau" class="form-control form-control-sm" required
              [(ngModel)]="selected_data2.idRdvCreneau">
              <option [value]="fc.id" *ngFor="let fc of rdvcreneaus">{{fc.heureDebut+' - '+fc.heureFin}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row mb-3" style="margin-top: 30px;">
          <label for="attente" class="col-sm-4">Vos attentes à l'issue de l'entretion :</label>
          <div class="col-sm-8">
            <textarea class="form-control form-control-sm has-error" id="attente" name="attente"
              [(ngModel)]="selected_data2.attente"></textarea>
          </div>
          <br><br>
        </div>
        <div class="col-md-12 text-center d-flex justify-content-center" *ngIf="loading">
          <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Processus en cours...</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="frmeditrdv.invalid">
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24">
            <circle cx="18" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="12" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="6" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin="0" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
          </svg>
          <span>Enregistrer</span>
        </button>
        <br><br>
      </div>
    </form>
  </ng-template>
  <ng-template #note let-modal>
    <form #frmnoter="ngForm" (ngSubmit)="noterRequete(frmnoter.value)" class="form-horizontal" novalidate="">
      <div class="modal-header bg-mat-primary">
        <h5 class="modal-title text-white" id="modal-basic-title">Appreciation</h5>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
          X
        </button>
      </div>
      <div class="modal-body">
        <span class="help-inline has-error-col" style="color:green !important;">Afin de mieux vous
          servir, nous aimerions recueillir votre appréciation du traitement de votre
          requête/plainte.</span>
        <span class="help-inline has-error-col">{{errormessage}}</span>
        <br><br>
        <div class="form-group row mb-3">
          <label for="objet2" class="col-sm-4">Objet de la requête </label>
          <div class="col-sm-8">
            <input readonly="" type="text" class="form-control  form-control-sm has-error" id="objet2" name="objet"
              value="{{selected_data_note?.objet}}" [(ngModel)]="selected_data_note.objet" required>

          </div>
        </div>

        <div class="form-group row mb-3" style="margin-top: 30px;">
          <label class="col-sm-8" style="margin-right:15px;">Quel est votre degré de satisfaction
            par rapport au délai de traitement de votre demande ? * </label>
          <select name="noteDelai" style="width: 100px; height: 35px;" id="noteDelai"
            class="form-control form-control-sm" required ngModel>
            <option [value]="fc" *ngFor="let fc of notes">{{fc}}</option>
          </select>
        </div>



        <div class="form-group row mb-3" style="margin-top: 30px;">
          <label class="col-sm-8" style="margin-right:15px;">Quel est votre degré de satisfaction
            par rapport au résultat du traitement de votre sollicitation ? * </label>
          <select name="noteResultat" style="width: 100px; height: 35px;" id="noteResultat"
            class="form-control form-control-sm" required ngModel>
            <option [value]="fc" *ngFor="let fc of notes">{{fc}}</option>
          </select>
        </div>






        <div class="form-group row mb-3" style="margin-top: 30px;">
          <label for="commentaireNotation" class="col-sm-4">Commentaire :</label>
          <div class="col-sm-8">
            <textarea class="form-control form-control-sm has-error" id="commentaireNotation" name="commentaireNotation"
              ngModel></textarea>
          </div>
          <br><br>
        </div>
        <div class="col-md-12 text-center d-flex justify-content-center" *ngIf="loading">
          <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Processus en cours...</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf='selected_data_note.traiteOuiNon===1 && selected_data_note.noteUsager===null' type="submit"
          class="btn btn-primary" [disabled]="frmnoter.invalid">
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24">
            <circle cx="18" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="12" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="6" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin="0" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
          </svg>
          <span>Enregistrer</span>
        </button>
        <br><br>
      </div>
    </form>
  </ng-template>

  <ng-template #listrdv let-modal>
    <div class="modal-header bg-mat-primary">
      <h5 class="modal-title text-white" id="modal-basic-title">Mes rdv</h5>
      <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
        X
      </button>
    </div>
    <div class="modal-body">


    </div>

  </ng-template>


  <ng-template #edit let-modal>
    <form #frmrequeteusagerU="ngForm" (ngSubmit)="saveRequeteusager(frmrequeteusagerU.value)" class="form-horizontal"
      novalidate>

      <div class="modal-header bg-mat-primary">
        <h5 class="modal-title text-white">Modifier la préoccupation</h5>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
          X
        </button>
      </div>

      <div class="modal-body">
        <div style="color:red">{{errormessage}}</div>

        <!-- USAGER -->
        <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
          <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">
            Usager
          </h4>

          <!-- Nom complet (lecture seule) -->
          <div class="form-group row mb-3">
            <label for="nom" class="col-sm-4 control-label">Nom et prénoms</label>
            <div class="col-sm-8">
              <input readonly type="text" class="form-control form-control-sm" id="nom" name="nom"
                [ngModel]="selected_data?.usager?.nom + ' ' + selected_data?.usager?.prenoms">
            </div>
          </div>
        </fieldset>

        <!-- PREOCCUPATION -->
        <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
          <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">
            {{typeRequete}}
            <small *ngIf="selected_data.visible==0">(Non transmise)</small>
          </h4>

          <!-- Type -->
          <div class="form-group row mb-3">
            <label for="plainte" class="col-sm-4 control-label">Type :</label>
            <div class="col-sm-8">
              <select name="plainte" id="plainte" class="form-control form-control-sm" required
                [(ngModel)]="selected_data.plainte">
                <option [ngValue]="null" disabled>Choisir</option>
                <option [ngValue]="1">Plainte</option>
                <option [ngValue]="2">Demande d'information</option>
              </select>
            </div>
          </div>

          <!-- Structure destinatrice -->
          <div class="form-group row mb-3" *ngIf="entite_vis">
            <label for="idEntite" class="col-sm-4">Structure destinatrice</label>
            <div class="col-sm-8">
              <select name="idEntite" id="idEntite" class="form-control form-control-sm"
                [(ngModel)]="selected_data.idEntite" (change)="onEntiteChange($event)">
                <option [ngValue]="null" disabled>Choisir</option>
                <option [ngValue]="fc.id" *ngFor="let fc of institutions">{{fc.libelle}}</option>
              </select>
            </div>
          </div>

          <!-- Lien prestation -->
          <div class="form-group row mb-3" *ngIf="selected_data.visible==0 && selected_data.plainte!=0">
            <label for="link_to_prestation" class="col-sm-4 control-label">Préoccupation liée à une prestation :</label>
            <div class="col-sm-8">
              <select name="link_to_prestation" id="link_to_prestation" class="form-control form-control-sm"
                [(ngModel)]="selected_data.link_to_prestation" required>
                <option [ngValue]="1">Oui</option>
                <option [ngValue]="0">Non</option>
              </select>
            </div>
          </div>

          <!-- Thématique -->
          <div class="form-group row mb-3" *ngIf="selected_data.link_to_prestation==1 || selected_data.plainte==0">
            <label for="idType" class="col-sm-4 control-label">Thématique :</label>
            <div class="col-sm-8">
              <select name="idType" id="idType" class="form-control form-control-sm"
                [(ngModel)]="selected_data.service.idType" (change)="chargerPrestation($event)" required>
                <option [ngValue]="null" disabled>Choisir</option>
                <option [ngValue]="fc.id" *ngFor="let fc of themes">{{fc.libelle}}</option>
              </select>
            </div>
          </div>

          <!-- Prestation -->
          <div class="form-group row mb-3" *ngIf="selected_data.link_to_prestation==1 || selected_data.plainte==0">
            <label for="idPrestation" class="col-sm-4 control-label">Prestation :</label>
            <div class="col-sm-8">
              <select name="idPrestation" id="idPrestation" class="form-control form-control-sm"
                [(ngModel)]="selected_data.service.id" (change)="openDetailModal($event, detailPresta)" required>
                <option [ngValue]="null" disabled>Choisir</option>
                <option [ngValue]="fc.id" *ngFor="let fc of services">{{fc.libelle}}</option>
              </select>
            </div>
          </div>

          <!-- Matricule -->
          <div class="form-group row mb-3" *ngIf="mat_aff">
            <label for="matricule" class="col-sm-4 control-label">Matricule :</label>
            <div class="col-sm-8">
              <input type="text" class="form-control form-control-sm" id="matricule" name="matricule"
                [(ngModel)]="selected_data.matricule">
            </div>
          </div>

          <!-- Objet -->
          <div class="form-group row mb-3">
            <label for="objet" class="col-sm-4 control-label">Objet :</label>
            <div class="col-sm-8">
              <input type="text" class="form-control form-control-sm" id="objet" name="objet"
                [(ngModel)]="selected_data.objet" required>
            </div>
          </div>

          <!-- Message -->
          <div class="form-group row mb-3">
            <label for="msgrequest" class="col-sm-4 control-label">Message :</label>
            <div class="col-sm-8">
              <textarea class="form-control form-control-sm" id="msgrequest" name="msgrequest"
                [(ngModel)]="selected_data.msgrequest" required>
            </textarea>
            </div>
          </div>

          <!-- Fichier joint -->
          <a *ngIf="selected_data.fichier_joint" target="_blank" [href]="selected_data.fichier_joint"
            [download]="selected_data.fichier_joint">
            Voir fichier joint
          </a>
        </fieldset>

        <!-- Appréciation de l'usager -->
        <fieldset *ngIf="selected_data.traiteOuiNon==1" class="divusager" style="border:1px solid #ddd;padding:10px;">
          <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">
            Appréciation de l'usager
          </h4>

          <div class="form-group row mb-3">
            <label for="noteUsager" class="col-sm-2 control-label">Note :</label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" id="noteUsager" name="noteUsager"
                [(ngModel)]="selected_data.noteUsager">
            </div>
          </div>

          <div class="form-group row mb-3">
            <label for="commentaireNotation" class="col-sm-4 control-label">Commentaire :</label>
            <div class="col-sm-8">
              <textarea class="form-control form-control-sm" id="commentaireNotation" name="commentaireNotation"
                [(ngModel)]="selected_data.commentaireNotation">
            </textarea>
            </div>
          </div>
        </fieldset>

        <!-- Loading -->
        <div class="col-md-12 text-center d-flex justify-content-center" *ngIf="loading">
          <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Processus en cours...</span>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary mx-1" [disabled]="loading">
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24">
            <circle cx="18" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="12" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="6" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin="0" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
          </svg>
          <span>Enregistrer</span>
        </button>
      </div>
    </form>
  </ng-template>


  <ng-template #add let-modal>
    <form #frmrequeteusager="ngForm" (ngSubmit)="addRequeteusager(frmrequeteusager.value)" class="form-horizontal">

      <div class="modal-header bg-mat-primary">
        <h5 class="modal-title text-white" id="modal-basic-title">Ajouter une préoccupation</h5>
        <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
          X
        </button>
      </div>
      <div class="modal-body">
        <div style="color:red">{{errormessage}}</div>

        <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
          <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Usager</h4>

          <div class="form-group row mb-3">
            <!--label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-4">
                            <input type="text" readonly class="form-control form-control-sm has-error" id="email"
                                name="email" placeholder="" value="{{user?.email}}" [(ngModel)]="user.email">
                        </div-->

            <label for="nom" class="col-sm-4 control-label">Nom et prénoms</label>

            <div class="col-sm-8">
              <input readonly="" type="text" class="form-control form-control-sm has-error" id="nom" name="nom"
                placeholder="" value="{{user?.name}}" [(ngModel)]="user.name">
            </div>

          </div>

          <!--div class="form-group row mb-3">
                        <label for="tel" class="col-sm-2 control-label">Téléphone</label>

                        <div class="col-sm-4">
                            <input readonly="" type="text" class="form-control form-control-sm has-error"
                                id="tel" name="tel" placeholder="" value="{{user?.tel}}" [(ngModel)]="user.tel">
                        </div>

                        <label for="email" class="col-sm-2 control-label">Département</label>
                        <div class="col-sm-4">
                            <select name="idDepartement" readonly="" id="idDepartement" class="form-control form-control-sm form-control-sm"
                                [(ngModel)]="user.idDepartement">
                                <option [value]="fc.id" *ngFor="let fc of departements">{{fc.libelle}}</option>
                            </select>
                        </div>
                    </div-->

        </fieldset>




        <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
          <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">
            {{typeRequete}}</h4>



          <!--div class="form-group row mb-3">
                        <label for="plainte" class="col-sm-2 control-label">Plainte <br>(oui ou non)
                        </label>
                        <div class="col-sm-1">
                            <input type="checkbox" id="plainte" name="plainte" ngModel>

                        </div>
                    </div-->
          <div class="form-group row mb-3">

            <label for="plainte" class="col-sm-4 control-label">Entité administrative :</label>
            <div class="col-sm-8">
              <select name="selectedEntie" id="plainte" class="form-control form-control-sm" required
                [(ngModel)]="selectedEntie">
                <option disabled selected>Choisir</option>
                <!-- <option value="0">Requete</option> -->
                <option *ngFor="let e of institutions" [value]="e.id">{{e.libelle}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">

            <label for="plainte" class="col-sm-4 control-label">Type :</label>
            <div class="col-sm-8">
              <select name="plainte" id="plainte" class="form-control form-control-sm" required
                [(ngModel)]="selected_type_preoccupation">
                <option value="" disabled selected>Choisir</option>
                <!-- <option value="0">Requete</option> -->
                <option value="1">Plainte</option>
                <option value="2">Demande d'information</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3" *ngIf="entite_vis">
            <label for="idEntite" class="col-sm-4">Structure destinatrice</label>
            <div class="col-sm-8">
              <select name="idEntite" id="idEntite" class="form-control form-control-sm" ngModel={{user?.institu_id}}
                (change)="onEntiteChange($event)">
                <option [value]="fc.id" *ngFor="let fc of institutions">{{fc.libelle}}</option>
              </select>

            </div>
          </div>
          <div class="form-group row mb-3" *ngIf="selected_type_preoccupation!=0">

            <label for="plainte" class="col-sm-4 control-label">Préoccupation liée à une
              prestation :</label>
            <div class="col-sm-4">
              <label for="">
                Oui
                <input type="radio" value="1" [(ngModel)]="link_to_prestation" name="link_to_prestation">
              </label>
            </div>
            <div class="col-sm-4">
              <label for="">
                Non
                <input type="radio" value="0" [(ngModel)]="link_to_prestation" name="link_to_prestation">
              </label>
            </div>
          </div>
          <div class="form-group row mb-3" *ngIf="link_to_prestation==1 || selected_type_preoccupation==0">

            <label for="idType" class="col-sm-4 control-label">Thématique :</label>
            <div class="col-sm-8">
              <select name="idType" id="idType" required class="form-control form-control-sm" required ngModel
                (change)="chargerPrestation($event)">
                <option disabled selected>Choisir</option>
                <option [value]="fc.id" *ngFor="let fc of themes">{{fc.libelle}}</option>
              </select>
            </div>
          </div>
          <!-- <label for="objet" class="col-sm-2 control-label" *ngIf="mat_aff">Matricule : </label>
                    <div class="col-sm-4" *ngIf="mat_aff">
                        <input type="text" class="form-control form-control-sm has-error" id="matricule" name="matricule" ngModel>
                    </div> -->
          <!-- <div class="form-group row mb-3" *ngIf="link_to_prestation==1 || selected_type_preoccupation==0">
                        <label for="msgrequest" class="col-sm-4 control-label">Description :</label>
                        <div class="col-sm-8">
                            <textarea type="text" disabled="disabled" class="form-control" id="descr"   name="descr" placeholder="Description de la thématique" ngModel  value="{{descrCarr}}"></textarea>
                        </div>
                    </div> -->
          <div class="form-group row mb-3" *ngIf="link_to_prestation==1 || selected_type_preoccupation==0">
            <label for="idPrestation" required class="col-sm-4 control-label">Prestation :</label>
            <div class="col-sm-8">
              <select name="idPrestation" id="idPrestation" class="form-control form-control-sm form-control-sm" ngModel
                (change)="openDetailModal($event, detailPresta)">
                <option disabled selected>Choisir</option>
                <option [value]="fc.id" *ngFor="let fc of services">{{fc.libelle}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row mb-3" *ngIf="mat_aff">
            <label for="msgrequest" class="col-sm-4 control-label">Matricule :</label>
            <div class="col-sm-8">
              <input type="text" class="form-control form-control-sm has-error" id="matricule" name="matricule" ngModel
                require>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label for="objet" class="col-sm-4 control-label">Objet :</label>

            <div class="col-sm-8">
              <input type="text" class="form-control form-control-sm has-error" id="objet" name="objet" placeholder=""
                ngModel required>
            </div>
          </div>


          <div class="form-group row mb-3">
            <label for="msgrequest" class="col-sm-4 control-label">Message :</label>
            <div class="col-sm-8">
              <textarea class="form-control form-control-sm has-error" id="msgrequest" name="msgrequest"
                placeholder="Message de la requête" ngModel required></textarea>
            </div>
          </div>




        </fieldset>
        <div class="col-md-12 text-center d-flex justify-content-center" *ngIf="loading">
          <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Processus en cours...</span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary mx-1">
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24">
            <circle cx="18" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="12" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="6" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin="0" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
          </svg>
          <span>Enregistrer</span>
        </button>
        <button type="submit" (click)="setVisible()" class="btn btn-info">
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24">
            <circle cx="18" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="12" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
            <circle cx="6" cy="12" r="0" fill="currentColor">
              <animate attributeName="r" begin="0" calcMode="spline" dur="1.5s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
            </circle>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
          </svg>
          <span>Transmettre</span>
        </button>

      </div>
    </form>

  </ng-template>
  <!-- <ng-template #info let-modal>

        <div class="modal-header bg-mat-primary">
            <h5 class="modal-title text-white" id="modal-basic-title">Informations sur la prestation</h5>
            <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
                X
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group error" style="margin-top: 20px;">
                <label class="col-sm-12" style="padding-right:0px;"> {{ selected_service.libelle }} </label>
                <br>

            </div>

            <div class="form-group error" style="margin-top: 30px;">
                <label class="col-sm-3" style="margin-right:15px;"> Structure : </label>

                <div class="col-sm-7" style="padding-left:0px;">
                    {{ selected_service.service_parent.libelle }}
                </div>
            </div>


            <div class="form-group error" style="margin-top: 30px;">

                <label for="objet" class="col-sm-3">Délai : </label>
                <div class="col-sm-7" style="padding-right: 0px;">
                    {{ selected_service.delai }}

                </div>
                <br>
            </div>

            <div class="form-group error" style="margin-top: 30px;">

                <label for="objet" class="col-sm-12">Liste des pièces : </label>
                <ul class="col-sm-12" style="padding-right: 0px; max-height: 250px; overflow-y: scroll;">
                    <li *ngFor="let piece of selected_service.listepieces;let i=index" style="margin-bottom: 10px; list-style: none;">{{
                        i+1}}. {{ piece.libellePiece }} </li>
                </ul>
                <br>
            </div>

        </div>
    </ng-template>
     -->
  <ng-template #detailPresta let-modal>
    <form tabindex="0" #frmrdv="ngForm" class="form-horizontal" novalidate="" *ngFor="let depi of detailpiece">
      <div class="modal-header bg-mat-primary">
        <h4 class="modal-title text-white" id="modal-basic-title">Informations sur la prestation</h4>
        <button type="button" class="close text-white" aria-label="Close"
          (click)="modal.dismiss('Cross click')">X</button>
      </div>
      <div class="modal-body">
        <label> Prestation : </label>
        <div class="form-group row mb-3">
          <label class="col-sm-10" style="padding-right:0px;"> {{ depi.libelle }} </label>
        </div><br />
        <div class="form-group row mb-3">
          <label class="col-sm-3"> Structure : </label>
          <div class="col-sm-9">{{ depi.service_parent.libelle!=null ? depi.service_parent.libelle : 'Aucune structure'}}</div>
        </div><br />
        <div class="form-group row mb-3">
          <label for="objet" class="col-sm-2">Délai : </label>
          <div class="col-sm-10">{{ depi.delai }}</div>
        </div><br />
        <label for="objet" class="col-sm-12">Liste des pièces : </label>
        <ul class="col-sm-12">
          <li *ngFor="let piece of depi.listepieces ; index as y " style="margin-bottom: 10px; list-style: none;">
            {{y+1}}. {{ piece.libellePiece }} </li>
        </ul>
      </div>
    </form>

  </ng-template>
</div>
<!---Container Fluid-->
