<form #myForm="ngForm">
<div class="containter py-5" style="background-color: #f2f5f9;">
    <h2 class="mb-3 text-center">Demande de visa de règelement intérieur</h2>
    

    <div class="row">
        <div class="col-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    
                    <div #reqTop>
                        
                        <igx-stepper #stepper  [linear]="false" [orientation]="'horizontal'" (activeStepChanging)="handleActiveStepChanging($event)">
     
                            <igx-step > 
                                <p igxStepTitle><b class="blueColorT">Informations sur la structure</b></p>
                           
                                <div igxStepContent>
                                    
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class=" form-group col-12 mb-3">
                                                <label for="">Nom de la structure <span class="text-danger ml-2">(*)</span></label>
                                                <input type="text" name="name_structure" class="form-control" [(ngModel)]="myRequestForm.name_structure">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class=" form-group col-12 mb-3">
                                                <label for="">Type de la structure <span class="text-danger ml-2">(*)</span></label>
                                                <select  name="structure_type" class="form-control" [(ngModel)]="myRequestForm.type_structure">
                                                    <option disabled selected></option>
                                                    <option *ngFor="let s of ts" [value]="s.id">{{s.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class=" form-group col-12 mb-3">
                                                <label for="">Département <span class="text-danger ml-2">(*)</span></label>
                                                <select (change)="getCommunes($event)"  name="department" class="form-control" [(ngModel)]="myRequestForm.department">
                                                    <option disabled selected></option>
                                                    <option *ngFor="let d of departs" [value]="d.id">{{d.libelle}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class=" form-group col-12 mb-3">
                                                <label for="">Commune <span class="text-danger ml-2">(*)</span></label>
                                                <select  name="municipality_id" class="form-control" [(ngModel)]="myRequestForm.municipality_id">
                                                    <option disabled selected></option>
                                                    <option *ngFor="let c of communes" [value]="c.id">{{c.libellecom}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class=" form-group col-12 mb-3">
                                                <label for="">Ville <span class="text-danger ml-2">(*)</span></label>
                                                <input type="text" name="city" class="form-control" [(ngModel)]="myRequestForm.city">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class=" form-group col-12 mb-3">
                                                <label for="">Quartier <span class="text-danger ml-2">(*)</span></label>
                                                <input type="text" name="district" class="form-control" [(ngModel)]="myRequestForm.district">
                                            </div>
                                        </div>
                                        <!-- <div class="col-12 col-md-6">
                                            <div class=" form-group col-12 mb-3">
                                                <label for="">Type de pièce d’identification <span class="text-danger ml-2">(*)</span></label>
                                                <select name="doc_type" class="form-control" [(ngModel)]="myRequestForm.doc_type">
                                                    <option value="IFU">IFU</option>
                                                    <option value="RCCM">RCCM</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <div class="col-12 col-md-6" >
                                            <div class=" p-2 bg-light mb-2 " >
                                          <div class="d-flex justify-content-between" >
                                              <div>
                                                  <h5 class="m-1">{{myRequestForm.doc_file?.name}} <span class="mx-1 text-danger">*</span></h5>
                                                  <ng-container *ngIf="!myRequestForm.doc_file.isSetted">
                                                      <div class="form-group mb-3 col-lg-6 col-md-6 col-sm-12">
                                                          <label for="">Fichier</label>
                                                          <input type="file" #fileInp (change)="uploadIfu($event)" 
                                                          accept="application/pdf">
                                                      </div>
                                                  </ng-container>
                                                 
                                              </div>
                                              <div class="align-self-center">
                                                  <ng-container *ngIf="myRequestForm.doc_file.isSetted">
                                                      <div >
                                                          <div class="">
                                                                <div class="d-flex justify-content-around">
                                                              <i class="fa fa-eye text-info mx-1" (click)="open(content,myRequestForm.doc_file?.file)" style="cursor: pointer;"></i>
                                                              <i class="fa fa-trash text-danger  mx-1" (click)="changeIfu()"  style="cursor: pointer;"></i> 
                                                          </div>
                                                          </div>
                                                      </div>
                                                  </ng-container>
                                          
                                              </div>
                                          </div>
                                      </div>
                                        </div>
                                        <!-- <div class="col-12 col-md-6">
                                            <div class=" form-group col-12 mb-3">
                                                <label for="">IFU<span class="text-danger ml-2">(*)</span></label>
                                                <input type="text" name="ifu" class="form-control" [(ngModel)]="myRequestForm.ifu">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6" >
                                            <div class=" p-2 bg-light mb-2 " >
                                          <div class="d-flex justify-content-between" >
                                              <div>
                                                  <h5 class="m-1">{{myRequestForm.ifu_file?.name}} <span class="mx-1 text-danger">*</span></h5>
                                                  <ng-container *ngIf="!myRequestForm.ifu_file.isSetted">
                                                      <div class="form-group mb-3 col-lg-6 col-md-6 col-sm-12">
                                                          <label for="">Fichier</label>
                                                          <input type="file" #fileInp (change)="uploadIfu($event)" 
                                                          accept="application/pdf">
                                                      </div>
                                                  </ng-container>
                                                 
                                              </div>
                                              <div class="align-self-center">
                                                  <ng-container *ngIf="myRequestForm.ifu_file.isSetted">
                                                      <div >
                                                          <div class="">
                                                                <div class="d-flex justify-content-around">
                                                              <i class="fa fa-eye text-info mx-1" (click)="open(content,myRequestForm.ifu_file?.file)" style="cursor: pointer;"></i>
                                                              <i class="fa fa-trash text-danger  mx-1" (click)="changeIfu()"  style="cursor: pointer;"></i> 
                                                          </div>
                                                          </div>
                                                      </div>
                                                  </ng-container>
                                          
                                              </div>
                                          </div>
                                      </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class=" form-group col-12 mb-3">
                                                <label for="">RCCM <span class="text-danger ml-2">(*)</span></label>
                                                <input type="text" name="rccm" class="form-control" [(ngModel)]="myRequestForm.rccm">
                                            </div>
                                        </div>
                                    
                                        <div class="col-12 col-md-6" >
                                            <div class=" p-2 bg-light mb-2 " >
                                          <div class="d-flex justify-content-between" >
                                              <div>
                                                  <h5 class="m-1">{{myRequestForm.rccm_file?.name}} <span class="mx-1 text-danger">*</span></h5>
                                                  <ng-container *ngIf="!myRequestForm.rccm_file.isSetted">
                                                      <div class="form-group mb-3 col-lg-6 col-md-6 col-sm-12">
                                                          <label for="">Fichier</label>
                                                          <input type="file" #fileInp (change)="uploadRccm($event)" 
                                                          accept="application/pdf">
                                                      </div>
                                                  </ng-container>
                                                 
                                              </div>
                                              <div class="align-self-center">
                                                  <ng-container *ngIf="myRequestForm.rccm_file.isSetted">
                                                      <div >
                                                          <div class="">
                                                                <div class="d-flex justify-content-around">
                                                              <i class="fa fa-eye text-info mx-1" (click)="open(content,myRequestForm.rccm_file?.file)" style="cursor: pointer;"></i>
                                                              <i class="fa fa-trash text-danger  mx-1" (click)="changeRccm()"  style="cursor: pointer;"></i> 
                                                          </div>
                                                          </div>
                                                      </div>
                                                  </ng-container>
                                          
                                              </div>
                                          </div>
                                      </div>
                                        </div> -->

                                        <div class="col-12 col-md-6">
                                            <div class=" form-group col-12 mb-3">
                                                <label for="">Avez-vous au moins un délégué du personnel élu  ?<span class="text-danger ml-2">(*)</span></label>
                                                <select name="has_delegate" class="form-control" [(ngModel)]="myRequestForm.has_delegate">
                                                    <option value="1">Oui</option>
                                                    <option value="0">Non</option>
                                                </select>
                                            </div>
                                        </div>
                                    
                                        <div class="col-12 col-md-6" *ngIf="myRequestForm.has_delegate">
                                            <div class=" p-2 bg-light mb-2 " >
                                          <div class="d-flex justify-content-between" >
                                              <div>
                                                  <h5 class="m-1">{{myRequestForm.delegate_file?.name}} <span class="mx-1 text-danger">*</span></h5>
                                                  <ng-container *ngIf="!myRequestForm.delegate_file.isSetted">
                                                      <div class="form-group mb-3 col-lg-6 col-md-6 col-sm-12">
                                                          <label for="">Fichier</label>
                                                          <input type="file" #fileInp (change)="uploadDelegate($event)" 
                                                          accept="application/pdf">
                                                      </div>
                                                  </ng-container>
                                                 
                                              </div>
                                              <div class="align-self-center">
                                                  <ng-container *ngIf="myRequestForm.delegate_file.isSetted">
                                                      <div >
                                                          <div class="">
                                                                <div class="d-flex justify-content-around">
                                                              <i class="fa fa-eye text-info mx-1" (click)="open(content,myRequestForm.delegate_file?.file)" style="cursor: pointer;"></i>
                                                              <i class="fa fa-trash text-danger  mx-1" (click)="changeRccm()"  style="cursor: pointer;"></i> 
                                                          </div>
                                                          </div>
                                                      </div>
                                                  </ng-container>
                                          
                                              </div>
                                          </div>
                                      </div>
                                        </div>
                                    
                                    </div>
                                 <div class="d-flex justify-content-center mt-5">

                                    <button igxButton="raised"  type="button" class="btn btn-primary px-5 rounded-0" (click)="next()">Suivant <i class="fa fa-arrow-right ms-1"></i></button>
                                 </div>
                                </div>
                             </igx-step>
                         
                             <igx-step > 
                                <p igxStepTitle><b class="blueColorT">Informations sur le soumissionnaire</b></p>
                           
                                <div igxStepContent>
                                    <div class="row">
                                        <div class="col-12 col-md-6 mb-3">
                                            <div class=" form-group ">
                                                <label for="">Nom et prénom(s)<span class="text-danger ml-2">(*)</span></label>
                                                <input type="text" name="identity" class="form-control" [(ngModel)]="myRequestForm.identity">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <div class=" form-group ">
                                                <label for="">Fonction dans structure</label>
                                                <input type="text" name="job" class="form-control" [(ngModel)]="myRequestForm.job">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <div class=" form-group ">
                                                <label for="">Téléphone <span class="text-danger ml-2">(*)</span></label>
                                                <input type="text" name="phone" class="form-control" [(ngModel)]="myRequestForm.phone">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <div class=" form-group ">
                                                <label for="">Email <span class="text-danger ml-2">(*)</span></label>
                                                <input type="email" name="email" class="form-control" [(ngModel)]="myRequestForm.email">
                                            </div>
                                        </div>
                                     
                                    
                                    </div>
                        
                                 <div class="d-flex justify-content-center mt-5">
                                    <button igxButton="raised"  type="button" class="btn btn-warning text-white px-5 rounded-0" (click)="prev()">  <i class="fa fa-arrow-left me-1"></i> Précédent </button>
                                    <button igxButton="raised"  type="button" class="btn btn-primary px-5 rounded-0" (click)="next()">Suivant <i class="fa fa-arrow-right ms-1"></i></button>
                                 </div>
                                </div>
                             </igx-step>
                            <igx-step> 
                               
                        
                               <p igxStepTitle><b class="blueColorT">Charger le fichier de règlement intérieur (Version PDF)</b></p>
                               <div igxStepContent>
                                <div class="col-12 col-md-6" >
                                    <div class=" p-2 bg-light mb-2 " >
                                  <div class="d-flex justify-content-between" >
                                      <div>
                                          <h5 class="m-1">{{myRequestForm.ri_file?.name}} <span class="mx-1 text-danger">*</span></h5>
                                          <ng-container *ngIf="!myRequestForm.ri_file.isSetted">
                                              <div class="form-group mb-3 col-lg-6 col-md-6 col-sm-12">
                                                  <label for="">Fichier</label>
                                                  <input type="file" #fileInp (change)="uploadRi($event)" 
                                                  accept="application/pdf">
                                              </div>
                                          </ng-container>
                                         
                                      </div>
                                      <div class="align-self-center">
                                          <ng-container *ngIf="myRequestForm.ri_file.isSetted">
                                              <div >
                                                  <div class="">
                                                        <div class="d-flex justify-content-around">
                                                      <i class="fa fa-eye text-info mx-1" (click)="open(content,myRequestForm.ri_file?.file)" style="cursor: pointer;"></i>
                                                      <i class="fa fa-trash text-danger  mx-1" (click)="changeRccm()"  style="cursor: pointer;"></i> 
                                                  </div>
                                                  </div>
                                              </div>
                                          </ng-container>
                                  
                                      </div>
                                  </div>
                              </div>
                                </div>
                                   
                                <div class="d-flex justify-content-center mt-5">
                                    <button igxButton="raised"  type="button" class="btn btn-warning text-white px-5 rounded-0" (click)="prev()">  <i class="fa fa-arrow-left me-1"></i> Précédent </button>
    
                                    <button igxButton="raised"  type="button" class="btn btn-primary px-5 rounded-0" (click)="next()">Suivant <i class="fa fa-arrow-right ms-1"></i></button>
    
                                </div>
                               </div>
                          
                            </igx-step>
                            
                            <igx-step> 
                                <!-- <igx-icon igxStepIndicator><i class="fa fa-file text-info fa-2x"></i></igx-icon> -->
                                <p igxStepTitle><b class="blueColorT"> Récapitulatif de votre demande</b></p>
                                <div igxStepContent>
                                    <fieldset >
                                        <legend><h5><b class="blueColorT">Informations sur le soumissionnaire</b></h5></legend>
                                        <div class="row">
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Nom de la structure</strong></dt>
                                                    <dd>{{myRequestForm.structure_name}}</dd>
                                                </dl>
                                            </div>
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Type de la structure </strong></dt>
                                                    <dd *ngIf="myRequestForm.structure_type!= undefined && myRequestForm.structure_type!= ''">{{getTypeStructureLable(myRequestForm.structure_type)}}</dd>
                                                </dl>
                                            </div>
        
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Département</strong></dt>
                                                    <dd *ngIf="myRequestForm.department!= undefined && myRequestForm.department!= ''">{{getDepartmentLabel(myRequestForm.department)}}</dd>
                                                </dl>
                                            </div>
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Commune</strong></dt>
                                                    <dd *ngIf="myRequestForm.municipality_id!= undefined && myRequestForm.municipality_id!= ''">{{getMunicipalityLabel(myRequestForm.municipality_id)}}</dd>
                                                </dl>
                                            </div>
                                          
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Quartier</strong></dt>
                                                    <dd>{{myRequestForm.city}}</dd>
                                                </dl>
                                            </div>

                                            <!-- <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Ifu</strong></dt>
                                                    <dd>{{myRequestForm.ifu}} <span (click)="open(content,myRequestForm.ifu_file.file)"  class="text-info"><u>Voir fichier</u></span></dd>
                                                </dl>
                                            </div>
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>RCCM</strong></dt>
                                                    <dd>{{myRequestForm.rccm}} <span (click)="open(content,myRequestForm.rccm_file.file)"  class="text-info"><u>Voir fichier</u></span></dd>
                                                </dl>
                                            </div> -->
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Pièce d’identification </strong></dt>
                                                    <dd>{{myRequestForm.doc_type}}</dd>
                                                </dl>
                                            </div>
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Voir la pièce d’identification </strong></dt>
                                                    <dd><i class="fa fa-eye text-info" (click)="open(content,myRequestForm.doc_file.file)" style="cursor: pointer;"></i>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Existence d'un délégué ou des délégués du personnel élu </strong></dt>
                                                    <dd>{{myRequestForm.has_delegate?'OUI':'NON'}}</dd>
                                                </dl>
                                            </div>
                                            <div *ngIf="myRequestForm.has_delegate" class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Avis du ou des délégués du personnel élu(s) (Version PDF)</strong></dt>
                                                    <dd><span (click)="open(content,myRequestForm.delegate_file.file)"  class="text-info"><u>Voir fichier</u></span></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset >
                                        <legend><h5><b class="blueColorT">Informations sur le soumissionnaire</b></h5></legend>
                                        <div class="row">
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Nom et prénom(s)</strong></dt>
                                                    <dd>{{myRequestForm.identity}}</dd>
                                                </dl>
                                            </div>
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Profession</strong></dt>
                                                    <dd>{{myRequestForm.job}}</dd>
                                                </dl>
                                            </div>
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Téléphone</strong></dt>
                                                    <dd>{{myRequestForm.phone}}</dd>
                                                </dl>
                                            </div>
                                            <div class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Email</strong></dt>
                                                    <dd>{{myRequestForm.email}}</dd>
                                                </dl>
                                            </div>
                                           
                                        </div>
                                    </fieldset>
                                 
                                    <fieldset>
                                        <legend><h5><b class="blueColorT">Règlement intérieur </b></h5></legend>
                                        <div class="row">
                                            <div  class="col-4 col-sm-6 col-md-4">
                                                <dl>
                                                    <dt> <strong>Avis du ou des délégués du personnel (Version PDF)</strong></dt>
                                                    <dd><span (click)="open(content,myRequestForm.ri_file.file)"  class="text-info"><u>Voir fichier</u></span></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        
                                    </fieldset>
                                   
                                <div class="d-flex justify-content-center mt-5">
                                    <button igxButton="raised"  type="button" class="btn btn-warning text-white px-5 rounded-0" (click)="prev()">  <i class="fa fa-arrow-left me-1"></i> Précédent </button>
    
                                    <button   type="button" class="btn btn-success px-5 rounded-0" (click)="store(myForm)" [disabled]="loading">Soumettre <app-loading [isVisible]="loading"></app-loading></button>
                                </div>    
                                </div>
                            </igx-step>
                        </igx-stepper>
                    </div>
                    
                </div>
            </div>   

        </div>
    </div>
</div>
</form>
<ng-template #content let-offcanvas id="myCanvas">
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Visualisation du document</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body" *ngIf="imageSrc!=undefined">
        <object [data]="imageSrc" type="application/pdf" width="100%" height="600px"></object>

	</div>
</ng-template>



<ng-template #addContent let-c="close" let-d="dismiss">
    <form #addForm="ngForm" (ngSubmit)="addElement(addForm)">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Renseigner les champs</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body" >
        <div class="row mb-3" >
      
            <div class=" form-group mb-3">
                <label for="">Nom et prénom(s)<span class="text-danger ml-2">(*)</span></label>
                <input type="text" name="identity" class="form-control" ngModel>
            </div>
            <div class=" form-group  mb-3">
                <label for="">Nationalité <span class="text-danger ml-2">(*)</span></label>
                <input type="text" name="nationality" class="form-control" [(ngModel)]="nationality" readonly>
            </div>
            <div class=" form-group mb-3">
                <label for="">Spécialité <span class="text-danger ml-2">(*)</span></label>
                <input type="text" name="speciality" class="form-control" ngModel>
            </div>
            <div class=" form-group mb-3">
                <label for="">Fonction <span class="text-danger ml-2">(*)</span></label>
                <input type="text" name="job" class="form-control" ngModel>
            </div>
            <div class="mb-3">
                <div class=" form-group mb-3">
                    <label for="">Nature contrat <span class="text-danger ml-2">(*)</span></label>
                    <select  name="nature" class="form-control" ngModel>
                        <option disabled selected></option>
                        <option *ngFor="let nc of ncs" [value]="nc.id">{{nc.name}}</option>
                    </select>
                </div>
            </div>
            
            <div class=" form-group ">
                <label for="">Charger le contrat<span class="text-danger ml-2">(*)</span></label>
                <input type="file" class="form-control" name="file" ngModel (change)="uploadAtachementFile($event)">
            </div>
        </div>
       
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" [disabled]="addForm.invalid"  >Sauvegarder <app-loading [isVisible]="loading"></app-loading></button>
    </div>
</form>
  </ng-template>
<ng-template #editContent let-c="close" let-d="dismiss">
    <form #addForm="ngForm" (ngSubmit)="editElement()">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Renseigner les champs</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body" >
        <div class="row mb-3" >
      
            <div class=" form-group ">
                <label for="">Apprenti bénéficiaire<span class="text-danger ml-2">(*)</span></label>
                <input type="text" name="myRequestForm.list[elementCurrentIndex].beneficiary" class="form-control" [(ngModel)]="myRequestForm.list[elementCurrentIndex].beneficiary">
            </div>
            <div class=" form-group ">
                <label for="">Age<span class="text-danger ml-2">(*)</span></label>
                <input type="text" name="myRequestForm.list[elementCurrentIndex].age" class="form-control" [(ngModel)]="myRequestForm.list[elementCurrentIndex].age">
            </div>
            <div class=" form-group ">
                <label for="">Métier<span class="text-danger ml-2">(*)</span></label>
                <input type="text" name="myRequestForm.list[elementCurrentIndex].job" class="form-control" [(ngModel)]="myRequestForm.list[elementCurrentIndex].job">
            </div>
            <div class=" form-group " *ngFor="let f of myRequestForm.list[elementCurrentIndex].files; let i=index">
                <label for="">Changer: {{f.name}} <span class="text-danger ml-2">(*)</span></label>
                <input type="file" class="form-control" name="file" ngModel (change)="uploadChangedAtachementFile($event,i)">
            </div>
         
        </div>
       
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" [disabled]="addForm.invalid"  >Sauvegarder <app-loading [isVisible]="loading"></app-loading></button>
    </div>
</form>
  </ng-template>