<div class="row m-3">
    <div class="col-md-12 mx-auto">
        <p class="text-center"> <strong>Enregistrement des discussions WhatsApp</strong> </p>
        <div class="col-md-12 ml-2 mr-2">
            <div class="card my-2">
                <div class="card-header border-0">
                    <div class="card-toolbar d-flex justify-content-between mt-4">
                        <ul class="nav nav-pills ml-2 nav-pills-sm nav-dark-75">
                            <li class="nav-item">
                                <span class="mr-2">{{dataWhats.length}} élement(s) </span>
                            </li>
                            <li class="nav-item mr-2">
                                <form>
                                    <div class="form-group form-inline">
                                        <input class="form-control form-control-sm form-control-sm-sm "
                                            placeholder="Rechercher...." type="text" [(ngModel)]="searchTextWhats"
                                            name="searchTextWhats" (keyup)="searchWhats()" />
                                    </div>
                                </form>
                            </li>
                            <li class="nav-item">
                                <span class="mr-2">Statut : </span>
                            </li>
                            <li class="nav-item">
                                <div class="form-group form-inline mr-2">
                                    <div>
                                        <select class="form-control form-control-sm form-control-sm-sm " name="selected_Status" (change)="loadWhatsApp()" [(ngModel)]="selected_traiteWha" >
                                            <option value="non" selected>Non traité</option>
                                            <option value="oui">traité</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                        <div>
                            <button (click)="openEditModalWhatsApp(addWhats)"  class=" mx-1 btn btn-sm btn-info">Ajouter une discussion </button>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-3 pb-0">
                    <!--begin::Table-->
                    <div class="table-responsive">
                       <p> <strong> Liste des discussions </strong> </p>
                    <table class="table table-bordered table-striped datatable  table-head-custom table-vertical-center" id="kt_datatable">
                        <thead>
                            <tr>
                                <td class="left text-left" colspan="10">
        
                                    <button *ngIf="show_actionsWhats" (click)="openEditModalWhats(editWhats)" title="Modifier la discussion" class="btn mx-1 btn-xs btn-warning edit">Modifier
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </button>
                                                       
                                    <button *ngIf="show_actionsWhats" title="Supprimer à la discussion" (click)="dropDiscussionWhat()" class="btn mx-1 btn-xs btn-danger edit"> Supprimer
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>

                                </td>
                            </tr>
                            <tr>
                                <th width="3%"></th>
                                <th width="10%" class="text-center">Date Enreg.</th>
                                <th width="10%" class="text-center">Numéro WhatsApp</th>
                                <th width="22%">Discussions</th>
                                <th width="15%" class="text-center">Initiateur</th>
                                <th width="15%" class="text-center">Ajouter dans mataccueil par</th>
                                <th width="10%" class="text-center">Statut</th>
                                <th width="15%" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let elwh of dataWhats ">
                                <td>
                                    <span *ngIf="elwh.requete == null && elwh.reponse_agent == null">
                                        <input type="radio" [value]="elwh" ngModel name="getrv" (change)="checkedWhatsap($event,elwh)">
                                    </span>
                                </td>
                                <td>{{elwh.created_at | date:'dd/MM/yyy'}} </td>
                                <td>{{elwh.numerowhatsapp}}</td>
                                <td>{{elwh.discussions}} </td>
                                <td class="text-center"> {{elwh.creator.agent_user?.nomprenoms}}</td>
                                <td class="text-center"> 
                                    <span *ngIf="elwh.requete == null && elwh.user_trait==null">--</span>
                                    <span *ngIf="elwh.requete == null && elwh.user_trait!=null">{{elwh.user_trait==null ? '--' : 'En cours par '+elwh.user_trait.agent_user?.nomprenoms}}</span>
                                    <span *ngIf="elwh.requete != null && elwh.user_trait!=null">{{elwh.user_trait==null ? '--' : elwh.user_trait.agent_user?.nomprenoms}}</span>
                                    <span *ngIf="elwh.requete != null && elwh.requete.visible==1  && elwh.requete.reponseStructure == ''">{{elwh.user_trait==null ? '--' : elwh.user_trait.agent_user?.nomprenoms}}</span>
                                </td>
                                <td class="text-center">
                                    <span  class=" bg-success text-white  rounded p-1" *ngIf="elwh.traite_disc=='oui' && elwh.requete != null && elwh.requete.reponseStructure != null">Traité</span>
                                    <span  class=" bg-success text-white rounded p-1" *ngIf="elwh.traite_disc=='oui' && elwh.requete == null && elwh.reponse_agent != null">Traité</span>
                                    <span  class=" bg-info  text-white rounded p-1" *ngIf="elwh.traite_disc=='oui' && elwh.requete != null && elwh.requete.reponseStructure == null">En cours</span>
                                    <span class=" bg-danger text-white rounded p-1" *ngIf="elwh.traite_disc=='non'">Non Traité</span>
                                </td>
                                <td>
                                    <button  *ngIf="elwh.traite_disc=='non' && elwh.user_trait == null" (click)="ConfirmerTraitement(elwh)" class="mx-1 btn btn-sm btn-success">Confirmer le traitement </button>
                                    <span *ngIf="elwh.traite_disc=='non' && elwh.user_trait != null && elwh.id_userTraite == user?.id">
                                        <button title="Transferer vers mataccueil" (click)="openEditModalAdd(addRequete)"  (click)="checkedWhatsap($event,elwh)" class="mx-1 btn btn-sm btn-info">Transférer </button>
                                         ou 
                                        <button  title="Donner une réponse" (click)="openEditModalAdd(addAnswer)"  (click)="checkedWhatsap($event,elwh)" class="mx-1 btn btn-sm btn-secondary">Répondre</button>
                                    </span>
                                    <span *ngIf="elwh.traite_disc=='non' && elwh.requete != null && elwh.requete.visible==0 && elwh.requete.reponseStructure == ''"> <br>1. En attente de transmission</span>
                                    <span *ngIf="elwh.traite_disc=='non' && elwh.requete != null && elwh.requete.visible==1  && elwh.requete.reponseStructure == ''"> <br>1. En cours de traitement au {{elwh.requete.entite==null ? '--' : elwh.requete.entite.sigle}}</span>
                                    <span *ngIf="elwh.requete != null && elwh.requete.reponseStructure != null "><br>Réponse : {{elwh.requete.reponseStructure}} <span *ngIf="elwh.requete.fichier_joint">Fichier réponse : <a target="_blank" (click)="ChangerFile(elwh.requete.fichier_joint)" href="#">{{elwh.requete.fichier_joint}}</a></span></span>
                                    <span *ngIf="elwh.requete == null && elwh.traite_disc=='oui' "><br>Réponse : {{elwh.reponse_agent}} <span *ngIf="elwh.fichier_joint">Fichier réponse : <a target="_blank" (click)="ChangerFile(elwh.fichier_joint)" href="#">{{elwh.fichier_joint}}</a></span></span>
                                </td>
                            </tr>
                            <tr *ngIf="dataWhats?.length==0">
                                <td colspan="10" class="text-center bg-gray-100">Aucun élément</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                    
                    </div>
                </div>
                <!--end::Table-->
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #addWhats let-modal>
    <form #frmrequeteusager="ngForm" (ngSubmit)="addWhatsApp(frmrequeteusager.value)" class="form-horizontal " novalidate="">

        <div class="modal-header bg-info">
            <h5 class="modal-title text-white" id="modal-basic-title">Ajouter une discussion</h5>
            <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
                X
            </button>
        </div>
        <div class="modal-body">
            <div style="color:red">{{errormessage}}</div>
            <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
                
                <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Information sur la discussion</h4>
                <div class="form-group row">
                    <label for="contWhatsapp" class="col-sm-2 control-label">N° WhatsApp </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm has-error" id="contWhatsapp"
                            name="contWhatsapp" placeholder="" ngModel required>
                    </div>
                </div>
                <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Détails de la conversation</h4>
                <div class="form-group row">
                    <label for="discussiontxt" class="col-sm-2 control-label">Discussions :</label>
                    <div class="col-sm-10">
                        <textarea class="form-control form-control-sm has-error" rows="10" id="discussiontxt" name="discussiontxt"
                            placeholder="Noter seulement les détails important de la discussion : E-mail / Type de requête / Ministère / Objet / Thématique / Autres..." ngModel required></textarea>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-info mx-1" id="btn-saverv"><i class="fas fa-save"></i>&nbsp;
                 <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24"><circle cx="18" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="6" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>
                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/></svg>
                <span>Enregistrer</span>
            </button>
        </div>
    </form>
</ng-template>

<ng-template #editWhats let-modal>
    <form #frmrequeteusager="ngForm" (ngSubmit)="UpdateRequeteWhats(frmrequeteusager.value)" class="form-horizontal"
        novalidate="">

        <div class="modal-header bg-info">
            <h5 class="modal-title text-white" id="modal-basic-title">Modifier une discussion</h5>
            <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
                X
            </button>
        </div>
        <div class="modal-body">
            <div style="color:red">{{errormessage}}</div>

            <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
                <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Information sur la discussion</h4>
                <div class="form-group row">
                    <label for="contWhatsapp" class="col-sm-2 control-label">N° WhatsApp </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm has-error" id="contWhatsapp"
                            name="contWhatsapp" value="{{selected_data_Whats.numerowhatsapp}}" ngModel  [(ngModel)]="selected_data_Whats.numerowhatsapp" required>
                    </div>
                </div>
                <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Détails de la conversation</h4>
                <div class="form-group row">
                    <label for="discussiontxt" class="col-sm-2 control-label">Discussions :</label>
                    <div class="col-sm-10">
                        <textarea class="form-control form-control-sm has-error" rows="10" id="discussiontxt" name="discussiontxt"
                            placeholder="Noter seulement les détails important de la discussion : E-mail / Type de requête / Ministère / Objet / Thématique / Autres..." ngModel required
                            value="{{selected_data_Whats.discussions}}"  [(ngModel)]="selected_data_Whats.discussions"></textarea>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">

            <button type="submit" class="btn btn-warning mx-1"><i class="bi bi-pencil"></i>&nbsp;
                 <svg xmlns="http://www.w3.org/2000/svg" *ngIf="loading" class="h-5 w-5" viewBox="0 0 24 24"><circle cx="18" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="12" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle><circle cx="6" cy="12" r="0" fill="currentColor"><animate attributeName="r" begin="0" calcMode="spline" dur="1.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite" values="0;2;0;0"/></circle></svg>
                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!loading" class="h-5 w-5" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 17l5-5l-5-5m5 5H3m12-9h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/></svg>
                <span>Modifier</span>
            </button>
        </div>
    </form>
</ng-template>

<ng-template #addRequete let-modal>
    <form #frmrequeteusager="ngForm" (ngSubmit)="addRequeteusager(frmrequeteusager.value)" class="form-horizontal " novalidate="">

        <div class="modal-header bg-info">
            <h5 class="modal-title text-white" id="modal-basic-title">Ajouter une Préoccupation</h5>
            <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
                X
            </button>
        </div>
        <div class="modal-body">
            <div style="color:red">{{errormessage}}</div>

            <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
                <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Point focal communal : {{user?.agent_user?.nomprenoms}} / {{user?.email}}</h4> 

            </fieldset>

            <fieldset *ngIf="selected_data_Whats != null" class="divusager" style="border:1px solid #ddd;padding:10px;">
                <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Discussions WhatsApp</h4> 
                <div>N° WhatsApp : {{selected_data_Whats.numerowhatsapp}}</div>
                <div>Discussions : {{selected_data_Whats.discussions}}</div>
            </fieldset>

            <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">

                <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Préoccupation</h4>
                <div class="form-group row">
                    <label for="contactUs" class="col-sm-2 control-label">Contact :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm has-error" id="contactUs"
                            name="contactUs" placeholder="" ngModel required value="{{selected_data_rvMat==null ? '':selected_data_rvMat.matri_telep}}" [(ngModel)]="selected_data_rvMat">
                    </div>
                    <label for="mailUs" class="col-sm-2 control-label">E-mail :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm has-error" id="mailUs"
                            name="mailUs" placeholder="" ngModel required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="idEntite" class="col-sm-2">Structure destinatrice</label>
                    <div class="col-sm-10">
                        <select name="idEntite" id="idEntite" class="form-control form-control-sm"
                            ngModel={{user?.idEntite}} [(ngModel)]="selected_data_rvMat" (change)="onEntiteChange($event)">
                            <option [value]="fc.id" *ngFor="let fc of institutions">{{fc.libelle}}</option>
                        </select>
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="plainte" class="col-sm-2 control-label">Type :</label>
                    <div class="col-sm-4">
                        <select name="plainte" id="plainte" class="form-control form-control-sm"
                            required [(ngModel)]="selected_type_preoccupation">
                            <option disabled selected>Choisir</option>
                            <!-- <option value="0">Requete</option>agent_user -->
                            <option value="1">Plainte</option>
                            <option value="2">Demande d'information</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group row" *ngIf="selected_type_preoccupation!=0">
                    <label for="plainte" class="col-sm-6 control-label">Préoccupation liée à une prestation  :</label>
                    <div class="col-sm-2">
                    <label for=""> Oui  <input type="radio" value="1" [(ngModel)]="link_to_prestation" name="link_to_prestation"> </label>
                    </div>
                    <div class="col-sm-2">
                        <label for=""> Non <input type="radio" value="0" [(ngModel)]="link_to_prestation" name="link_to_prestation"> </label>
                    </div>
                </div>
                
                <div class="form-group row"  *ngIf="link_to_prestation==1 || selected_type_preoccupation==0">
                    
                    <label for="idType" class="col-sm-2 control-label">Thématique :</label>
                    <div class="col-sm-4">
                        <select name="idType" id="idType" required class="form-control form-control-sm" required
                            ngModel (change)="chargerPrestation($event)">
                            <option disabled selected>Choisir</option>
                            <option [value]="fc.id" *ngFor="let fc of themes">{{fc.libelle}}</option>
                        </select>
                    </div>
                
                    <label for="objet" class="col-sm-2 control-label" *ngIf="mat_aff">Matricule : </label>
                    <div class="col-sm-4" *ngIf="mat_aff">
                        <input type="text" class="form-control form-control-sm has-error" id="matricule" name="matricule" ngModel>
                    </div>
                    <!-- <label for="objet" class="col-sm-2 control-label">Description : </label>
                    <div class="col-sm-4">
                        <textarea type="text" disabled="disabled" class="form-control" id="descr"   name="descr" placeholder="Description de la thématique" ngModel  value="{{descrCarr}}"></textarea>
                    </div> -->
                </div>
                <div class="form-group row"  *ngIf="link_to_prestation==1 || selected_type_preoccupation==0">
                    <label for="idPrestation" required class="col-sm-2 control-label">Prestation :</label>
                    <div class="col-sm-10">
                        <select name="idPrestation" id="idPrestation" class="form-control form-control-sm form-control-sm"
                            ngModel (change)="openDetailModal($event, detailPresta)">
                            <option disabled selected>Choisir</option>
                            <option [value]="fc.id" *ngFor="let fc of services">{{fc.libelle}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="objet" class="col-sm-2 control-label">Objet :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm has-error" id="objet"
                            name="objet" placeholder="" ngModel required [(ngModel)]="selected_data_rvMat">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="msgrequest" class="col-sm-2 control-label">Message :</label>
                    <div class="col-sm-10">
                        <textarea class="form-control form-control-sm has-error" id="msgrequest" name="msgrequest"
                            placeholder="Message de la requête" ngModel required [(ngModel)]="selected_data_rvMat"></textarea>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-info mx-1" id="btn-save"><i class="fas fa-save"></i>&nbsp;
                Enregistrer</button>
                <button type="submit" (click)="setVisible()" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;
                    Transmettre</button>
        </div>
    </form>
</ng-template>

<ng-template #addAnswer let-modal>
    <form #frmReponse="ngForm" (ngSubmit)="addReponse(frmReponse.value)" class="form-horizontal " novalidate="">

        <div class="modal-header bg-secondary">
            <h5 class="modal-title text-white" id="modal-basic-title">Donner une réponse à cette discussion</h5>
            <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
                X
            </button>
        </div>
        <div class="modal-body">
            <div style="color:red">{{errormessage}}</div>

            <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
                <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Point focal communal : {{user?.agent_user?.nomprenoms}} / {{user?.email}}</h4> 
            </fieldset>

            <fieldset *ngIf="selected_data_Whats != null" class="divusager" style="border:1px solid #ddd;padding:10px;">
                <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Discussions WhatsApp</h4> 
                <div>N° WhatsApp : {{selected_data_Whats.numerowhatsapp}}</div>
                <div>Discussions : {{selected_data_Whats.discussions}}</div>
            </fieldset>

            <fieldset class="divusager" style="border:1px solid #ddd;padding:10px;">
                <h4 style="font-size:14px;font-weight: bold;border-bottom:1px solid #eee;padding-bottom: 10px;">Projet de réponse </h4>
                <div class="form-group row">
                    <label for="objet" class="col-sm-3 control-label">Votre réponse : (*)</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm has-error" id="reponse_whats" name="reponse_whats" placeholder="" ngModel required>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="message" class="col-md-3 ">Pièce Jointe</label>
                    <div class="col-md-9">
                      <input type="file" class="form-control" (change)="onFileChange($event)" #file="ngModel" name="fichier" ngModel>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary mx-1" id="btn-save"><i class="fas fa-save"></i>&nbsp;Répondre</button>
        </div>
    </form>
</ng-template>

<ng-template #detailPresta let-modal>
    <form #frmrdv="ngForm"  class="form-horizontal" novalidate="" *ngFor="let depi of detailpiece">
        <div class="modal-header bg-info">
            <h4 class="modal-title text-white" id="modal-basic-title">Informations sur la prestation</h4>
            <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
        </div>
        <div class="modal-body">
            <label > Prestation : </label>
            <div class="form-group row" >
                <label class="col-sm-10" style="padding-right:0px;" > {{ depi.libelle }} </label>
            </div><br/>
            <div class="form-group row" >
                <label class="col-sm-3" > Structure : </label>
                <div class="col-sm-9" >{{ depi.service_parent.libelle!=null ? depi.service_parent.libelle : 'Aucune structure'}}</div>
            </div><br/>
            <div class="form-group row" >
                <label for="objet" class="col-sm-2">Délai : </label>
                <div class="col-sm-10" >{{ depi.delai }}</div>
            </div><br/>
            <label for="objet" class="col-sm-12">Liste des pièces : </label>
            <ul class="col-sm-12">
            <li *ngFor="let piece of depi.listepieces ; index as y " style="margin-bottom: 10px; list-style: none;">{{ y+1}}. {{ piece.libellePiece }} </li>
            </ul>
        </div>
    </form>
</ng-template>
