
.services{
    min-height: 250px;
    background-color: #fafafa;
    align-items: center;
    padding: 25px;
    
}

.services .items ul{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.services .label{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    justify-content: center;
    text-align: center;
    color: #162D50;
    padding-bottom: 20px;
}

.services .line{
    width: 300px;
    background-color: crimson;
    font-style: normal;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;

}

.services container{
   align-items: center;
}



.hover:hover{
    transition:1s;
    cursor: pointer;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px
}


.content{
    min-height: 400px;
    background-color: #FFF;
}

h1{
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #162D50;
border-bottom: 1px solid #eaeaea;
padding-right: 25px;
padding-left: 5px;
padding-bottom: 15px;
padding-top: 15px;
}
.e-service{
    font-size: 13px !important;
}
.bloc-services{
    height: 340px
}
.demarche-item{
    margin-bottom: 15px;
    height: 73px;
    background: #EDEDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0.6;
}
.demarche-item a {
    color: #162D50 !important;
}

.demarche-item-all{
    margin-bottom: 15px;
    height: 93px;
    background: #A2EEA2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0.6;
}




.tab-pane .fade .show .active{
    background-color: white !important
}

.liens_utiles > a{
    font-size: 12px !important
}