:host {
  font-family: 'Montserrat', sans-serif !important;
}


::ng-deep .p-radiobutton-checked .p-radiobutton-box {
  border-color: #fcc800 !important;
  background: #FFF !important;
}

::ng-deep .p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
  background: #fcc800 !important;
}

.p-radiobutton-checked .p-radiobutton-box {
  border-color: #fcc800 !important;
  background: #FFF !important;
}

.p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
  background: #fcc800 !important;
}
.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}